/* blocks that needs to be placed under floats */
.clear, .line, .row {
    clear: both;
}

/* blocks that can contains floats */
.clearfix:before, .clearfix:after,
.line:before, .line:after,
.mod:before, .mod:after {
    content: ""; display: table;
}
.clearfix:after, .line:after, .mod:after {
    clear: both;
}

/* left and 1em gutter */
.left {
    float: left; margin-right: 1em
}

/* right and 1em gutter */
.right {
    float: right; margin-left: 1em
}
.center {margin: auto;}
.txtleft {text-align: left;}
.txtright {text-align: right;}
.txtcenter {text-align: center;}

/* blocks widths (percentage and pixels) */
.w10 {width: 10%}
.w20 {width: 20%}
.w25 {width: 25%}
.w30 {width: 30%}
.w33 {width: 33.33%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}
.w100 {width: 100%}

.w20p {width: 20px}
.w50p {width: 50px}
.w100p {width: 100px}
.w150p {width: 150px}
.w200p {width: 200px}
.w300p {width: 300px}
.w400p {width: 400px}
.w500p {width: 500px}
.w600p {width: 600px}
.w700p {width: 700px}
.w800p {width: 800px}
.w960p {width: 960px}
.mw960p {max-width: 960px}

.h40p {height: 40px}

/* margins */
.mt1 {margin-top: 1em}
.mt2 {margin-top: 2em}
.mr1 {margin-right: 1em}
.mr2 {margin-right: 2em}
.mb1 {margin-bottom: 1em}
.mb2 {margin-bottom: 2em}
.ml1 {margin-left: 1em}
.ml2 {margin-left: 2em}

.desktop-hidden {display: none;} /* hidden on desktop */

.clickable {cursor:pointer;}

/* tableau générique */
.tabGen {
    width: 100%;
    border-collapse: collapse;
}
.tabGen a { color: #805F94; }
.tabGen a:hover { color: #000000; }
.tabGen td, th {
    border: 1px solid #c0c0c0;
    padding: 4px;
    font-size: 0.9em;
}
.tabGen th { background-color: #d0d0d0; }
.tabGen tr.ligne0 { background-color: #f0f0f0; }
.tabGen tr.ligne1 { background-color: #f8f8f8; }

table.bb1 {
    border-bottom: 1px solid #D6D6D6;
}

/* formulaire d'edition */
.form_lead h3 {
    color: #888;
}
.form_lead fieldset {
    border: 1px solid #D6D6D6;
    background-color: #F8F8F8;
    margin: -1px auto 20px;
}
.form_lead fieldset input[type=text], fieldset.frame textarea {
    border: 1px solid #CCC;
    padding: 4px;
}
.form_lead fieldset input[type=text].search-field {
    color: #888;
    font-style: italic;
}
.form_lead fieldset textarea {
    width: 300px;
    height: 70px;
}
.form_lead fieldset select {
    /*width: 100%;*/
}
.form_lead fieldset label.title {
    display: block;
    text-align: right;
    font-weight: bold;
}
.form_lead fieldset td.vatop {
    vertical-align: top;
}
.form_lead td.bdleft {
    border-left: 1px solid #CCC;
    padding-left: 6px;
}

#searchContactResults {
    height: 120px;
    overflow: auto
}
#contactsList {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #CCC;
    overflow: auto
}

#searchDocumentResults {
    height: 120px;
    overflow: auto
}
#documentsList {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #CCC;
    overflow: auto
}

/* fiche de consultation */
#lead_title {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}
#lead_title .red {
    color: #D7001A;
}
#lead_title .small_info {
    font-weight: normal;
    font-size: 10px;
}
#lead_title .returnLink {
    font-size: 12px;
    font-weight: normal;
}

#lead_tabs {
    width: 100%;
    margin: 20px 0;
}
#lead_tabs li {
    float: left;
    margin-right: 20px;
}
#lead_tabs li a {
    text-transform: uppercase;
    font-size: 12px;
}
#lead_tabs li a.selected {
    color: #D7001A;
}

div.fiche_activite h3 {
    margin-top: 30px;
}
div.fiche_activite .frame {
    border: 1px dashed #D6D6D6;
    background-color: #F8F8F8;
    margin-right: 250px;
    padding: 6px;
    min-height: 60px;
}
/*#leadDates {
    float: right;
}*/


/* anciens styles de julien */
div.title_new_lead > span{
    padding: 5px;
}

div.title_new_lead {
    border-bottom: 1px solid #D6D6D6;
}

div.title_description > h2{
    float: left;
    padding: 5px;
}

div.title_description > img{
    float: left;
}

div.title_description{
    border-bottom: 1px solid #D6D6D6;
    float: left;
    height: 30px;
    margin-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}

div.table_description_gauche {
    float: left;
    width: 50%;
    margin-top: 5px;
}
div.table_description_gauche span.date_label {
    text-align: left;
    font-weight: bold;
}

div.table_description td{
    width: 50%;
    font-weight: bold;
}

div.cadre_add_picture{
    border: 2px dashed #D6D6D6;
    float: left;
    height: 70px;
    padding: 5px;
    width: 70px;
    border-radius: 4px 4px 4px 4px;
}

div.text-avatar{
    float: right;
    height: 85px;
    line-height: 63px;
    text-align: right;
    width: 50px;
}

div.title_new_type{
    text-align: right;
    color: #df1d31;
}

div.title_new_type span{
    float: right;
    height: 17px;
    line-height: 17px;
}

div.title_new_type img{
    float: right;
    height: 17px;
    line-height: 17px;
}

div.cadre_add_picture img{
    position:absolute;
}

div.table_description_droite{
    float: right;
    width: 50%;
}

div.date_of_lead{
    float: left;
    width: 100%;
}

table.date_of_lead {
    clear: both;
}

div.date_range{
    text-align: left;
    font-size: 10px;
    color: #df1d31;
    cursor: pointer;
}

div.location_of_lead{
    float: left;
    width: 100%;
}

div.enter_title{
    text-align: right;
    font-size: 10px;
    color: #656565;

}

div.separator_mandatory{
    border-bottom: 3px solid red;
    clear: both;
}

div.separator_mandatory span{
    padding-left: 5px;
    font-size: 10px;
    color: #656565;
    font-style: italic;
}

div.tags_of_lead{
    float: left;
    width: 100%;
}

div.zone_contact_lead_content{
    float: left;
    width: 100%;
}

div.zone_contact_lead_gauche{
    float: left;
    width: 40%;
}

div.zone_search > #formsearch_contact {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input.editbox_search > #formsearch_contact{
    background: url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 70%;
}

#formsearch_contact > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.todo_form_error{
    float: left;
    color: red;
    font-size: 12px;
}

div.zone_contact_lead_droite{
    border-left: 1px solid #D6D6D6;
    float: left;
    width: 58%;
    font-weight: bold;
    padding: 5px;
}

div.title_new_type{
    color: #df1d31;
    font-weight: normal;
    cursor: pointer;
}

div.title_looking_existing_contact{
    border-bottom: 1px solid #000000;
    float: left;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    width: 98%;
    clear:both;
}

div.title_looking_existing_contact img{
    float: left;
}

div.title_looking_existing_contact span{
    float: left;
    height: 24px;
    line-height: 24px;
}

div.existing_contact{
    float: left;
    width: 98%;
    border-bottom: 1px solid #D6D6D6;
}


div.zone_contact_lead_enregistrement{
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

div.zone_contact_lead_enregistrement input{
    float: right;
}

div.zone_contact_lead_enregistrement span{
    float: right;
    height: 15px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

div.add_extras_doc{
    float: left;
    text-align: left ! important;
    width: 100%;
    min-height: 30px;
}

div.title_add_extras{
    float: left;
    color: #df1d31;
    font-weight: normal;
    cursor: pointer;
    margin-top: 15px;
}

div.title_add_extras img{
    float: left;
}

div.title_add_extras span{
    float: left;
    height: 17px;
    margin-left: 5px;
    line-height: 17px;
}

div.zone_avatar {
    border-bottom: 1px solid #D6D6D6;
    float: left;
    width: 100%;

}

div.zone_avatar table{
    margin-bottom: 20px;
}

.popup_add_value span {
    font-weight: bold;
}

div.tags_of_lead .chzn-container-multi .chzn-choices .search-choice span{
    background: url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") no-repeat;
    padding-left: 19px;
}
div.tags_of_lead .chzn-container .chzn-results li{
    list-style-image: url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png");
    list-style-position: inside;
}
div.tags_of_lead .chzn-container .chzn-results li.no-results{
    list-style-image: none;
    list-style-position: outside;
}

div.zone_new_lead div.chzn-container {
	font-weight: normal;
}

div.zone_new_lead a.button {
	vertical-align: bottom;
}

#div_list_searchevent {
    display: none;
    height: 100px;
    width: 600px;
    overflow: auto;
    border: 1px solid #D6D6D6;
    float: right;
}

input.lead_field, textarea.lead_field {
    width: 240px;
    border: 1px solid #666;
}
textarea.lead_textarea {
    width: 87%;
    height: 120px;
    float:right;
}

label.radio_label {
    cursor: pointer;
    padding-right: 22px;
}

#events_list { display: none; }

#removeEventLink { visibility: hidden; }

#link { width: 500px;}

div.title_leads {
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}

div.title_leads > * {
	display: inline;
	vertical-align: middle;
}

div.zone_new_lead div.filters {
	background-color: #f8f8f8;
	border: 1px solid #d6d6d6;
	padding: 20px;
}

div.zone_new_lead div.filters > table {
	width: 100%;
}

div.zone_new_lead div.filters td {
	width: 50%;
	padding-left: 20px;
}

div.zone_new_lead div.filters td > select {
	display: block;
	float: right;
	width: 70%;
}

div.zone_new_lead div.sub_form {
	width: 100%;
	margin-top: 10px;
}

div.zone_new_lead div.form_buttons {
	width: 100%;
	height: 20px;
}

div.zone_new_lead div.form_buttons > div {
	float: right;
	line-height: 20px;
	margin-left: 5px;
}

div.zone_new_lead div.form_buttons > div > * {
	vertical-align: middle;
}

div.zone_new_lead div.time_filters {
	margin: 10px 0px;
	height: 20px;
}

div.zone_new_lead div.time_filters > div {
	float: left;
	margin-right: 20px;
}

#slider {
	width: 30%;
}

div.zone_new_lead div.time_filters div.nb_days {
	float: right;
	margin-right: 0;
}

#leads th {
	background: white !important;
}

label.responsible,
label.tiers,
label.product,
label.echeance_deb{
    float: left;
    line-height: 28px;
    padding-right: 10px;
    text-align: right;
    width: 17%;
}

#echeance_deb,
#echeance_fin{
	width: 23%;
}
