h1{
	color: #5ab247;
	margin-top:10px;
}
h1:fist-child{
	margin-top:0px;
}
.hover{
	border: 1px solid silver !important;
	background-color: #EFEFEF;
	transition-delay: 50ms;
	transition-duration: 150ms;
	transition-property: all;
}

.todo-list, .docfile-list, .web-ask-list {
	padding: 0px;
	margin: 0px;
}
.todo-list li, .docfile-list li, .web-ask-list li{
	border: 1px solid #FFFFFF;
	border-bottom: 1px solid silver;
	padding: 5px;
	margin-bottom:8px;
}
.todo-list li:hover, .docfile-list li:hover, .web-ask-list li:hover{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
a.icon-share, a.icon-home, a.icon-exit, a.icon-user, a.icon-tree, a.icon-search, a.icon-foursquare, a.icon-bookmarks, a.icon-drawer, 
a.icon-plus-alt, a.icon-users, a.icon-checkmark-circle, a.icon-info, a.icon-calendar, a.icon-phone, a.icon-file, a.icon-podcast, 
a.icon-bubbles, a.icon-close, a.icon-coin, a.icon-remove, a.icon-pencil, a.icon-copy, a.icon-menu, a.icon-file-pdf, a.icon-file-word, 
a.icon-cogs, a.icon-bullhorn, a.icon-alarm{
	text-decoration: none;
	cursor: pointer;
}

.web-ask-date{
	font-size:2rem;
}
.web-ask-date span{
	font-size:2.8rem;
	color: #F53825;
}
.web-ask-infos{
	background-color: #F6F6F6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	padding:20px;
}
.label{
	font-weight:bold;
	text-align:right;
	padding-right:5px;
	vertical-align:top;
}
