@charset "utf-8";
body{
	margin:0;
	padding:0;
	width:100%;
	color:#424242;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}

h1{
	float: left;
	margin: 0px;
	line-height: 28px;
        font-size:20px;
}

h2{
	color:#424242;
}
h4{
    font-size: 14px;
    color: #FD661F;
}

h4 img{
	height: 20px;
	width: auto;
	vertical-align: middle;
}
table{
	width:100%;
}
#page_content a img{
    float: left;
    margin-right: 5px;
}
/***************** Header *****************/

div.header{
	overflow: hidden;
}

/* Zone title */

div.zone_title{
	float: left;
	color: #3278e0;
	padding-top: 10px;
}

div.zone_title > span.logo_wiki{
	float: left;
	margin-right: 10px;
}



/* Zone recherche */

#recherche {
    float: right;
    overflow: hidden;
    padding-left: 20px;
}

div.searchform {
    float: left;
    padding: 5px 0 0 10px;
}

input.editbox_search {
    background: image-url("common/modules/wce/wiki/gfx/image_recherche_milieu.png") repeat-x scroll left top transparent;
    border: 0 none;
    color: #404040;
    float: left;
    font-size: 12px;
    height: 44px;
    line-height: 15px;
    margin: 0;
    outline: medium none;
    padding: 3px 10px;
    width: 250px;
}

/***************** Fin Header *****************/


/***************** Menu principal *****************/


td{
	color: #424242; /*#3278e0;*/
    padding-left: 5px;
    padding-right: 5px;
}
div.menu_principal {
    float:right;
    width:68%;
    margin-top:5px;
}

div.menu_principal td{
	color: #3278e0;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
	padding-left: 15px;
	padding-right: 15px;
    font-size: 12px;
	width: 98px;
}
div.menu_principal td:hover{
    font-weight: bold;
}
div.menu_principal td.selected{
    font-weight: bold;
    color: #FD661F;
}

/***************** Fin Menu principal *****************/


div.contener{
        clear:both;
	overflow: hidden;
	margin: 5px;
}

/***************** Zone blocs *****************/

div.cadre{
	width: 42%;
	margin-top: 40px;
	border: 1px solid #d6d6d6;
	padding: 10px;
	overflow: hidden;
}
div.cadre_fixed_height{
	height: 335px;
	overflow: auto !important;
}
div.cadre_article_gauche, div.bloc_gauche{
	float: left;
}

div.cadre_article_droite, div.bloc_gauche{
	float: right;
}

div.cadre_zone_article{
	width: 100%;
	/*overflow: hidden;  Cyril / Pour les titres trop long y'a tout qui sort*/
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 20px;
}

div.cadre_zone_article p.commentaire{
	margin-left: 40px;
}

div.zone_article_title{
	width: 100%;
	overflow: hidden;
}

div.zone_article_title span{
	float: left;
	color: #424242;
	line-height: 16px;
	padding-left: 10px;
}

div.zone_article_title span img{
	float: left;
}

div.zone_article_title span.article_title{
	float: left;
	line-height: 16px;
	color: #3278e0;
	padding-bottom: 10px;
}

a.article_title{
	color: #3278e0;
	text-decoration: none;
}

a.article_title:hover{
	text-decoration: underline;
}

a.header_link{
	text-decoration: none;
	color: #3278e0;
}

a.header_link img{
	border: 0px;
}

div.zone_article_title span.article_title a{
	color: #3278e0;
}

div.cadre_zone_article > div.zone_picture_date{
	width: 100%;
	overflow: hidden;
}

div.header_article{
	overflow:hidden;
	margin-bottom: 10px;
}

h3 span.span_orange{
	color: #FA652B;
}

div.zone_picture_date > div.picture img{
	float: left;
	overflow: hidden;
	margin-right: 15px;
}

div.zone_picture_date > div.date_depose {
	float: left;
}

div.zone_picture_date > div.date_depose p{
	width: 100%;
	color: #9a9a9a;
	margin: 0px;
}

div.zone_picture_date > div.date_depose p.par{
	color: #9A9A9A;
}

span.maj_par{
	color: #fa652b;
}

div.cadre_zone_article > div.zone_commentaire{
	overflow: hidden;
	background-color: #f5f5f5;
	padding: 5px;
	margin-left: 40px;
	width: 90%;
	margin-top: 10px;
}

a.lien_bas{
	float: right;
	overflow: hidden;
	color: #fa652b;
	text-align: right;
	padding-top: 5px;
	width: 145px;
}

div.cadre_article_droite span.sous_titre{
	float: left;
	width: 100%;
	font-size: 11px;
	color: #9a9a9a;
	text-align: center;
	overflow: hidden;
}

div.graph{
	float: left;
	width: 100%;
	overflow: hidden;
}
div.graph td{
    width: 20%;
    text-align: center;
    vertical-align: top;
}
div.graph td div.barre_graph{
    border: 1px solid #D6D6D6;
    width: 80%;
    font-size: 25px;
    color: #FA652B;
    font-weight: bold;
    margin-left: 10%;
    padding-top: 10px;
}


/***************** Fin Zone blocs *****************/


/***************** Cadre liste des articles *****************/

div.cadre_article{
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	padding: 10px;
	overflow: hidden;
	overflow: hidden;
	background-color: #f9f9f9;
}

div.sous_cadre_article{
	width: 100%;
	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 10px;
}

div.zone_filtre{
	width: 100%;
	overflow: hidden;
}

table.tab_filters{
	width: 900px;
}

input.text_date{
	width: 80px;
}
td.label{
	text-align: right;
}

td.field{
	text-align: left;
}

input.keywords{
	width: 300px;
}

input.filter_cb{
	float: normal;
}

div.label {
	float: left;
	line-height: 26px;
	margin-right: 5px;
}

div.select, div.select select, div.select input,
input.checkbox, div.zone_filtre span.checkbox,
div.select img{
	float: left;
}

/* --- specifique tags */
#tag_search{
	margin-left: 1em;
	width: 200px;
}
ul.filtres_tags{
	padding:1px 5px;
	overflow:auto;
	margin-top: 10px;
}
ul.filtres_tags li {
	-moz-border-radius:5px 5px 5px 5px;
	display: block;
	float: left;
	margin:2px 5px 2px 0;
	background-color:#FE764A;
	border:1px solid #F1F1F1;
	padding:2px 4px 3px;
	color: white;
	line-height:25px;
}
ul.filtres_tags li:hover {
	background-color:#FF8C61;
}

ul.filtres_tags li a.close {
	color:#FFF;
	cursor:pointer;
	font-size:12px;
	outline:medium none;
	padding:0px 0 0px 8px;
	text-decoration:none;
}

input.bouton{
	float: right;
}
span.bouton{
	float: right !important;
	line-height: 26px;
	margin-left: 5px;
	margin-right: 5px;
}

div.checkbox{
	margin-top: 20px;
}

div.zone_filtre a{
	float: right;
	line-height: 26px;
	margin-right: 5px;
	color: #424242;
}

div.select select, div.select input{
	width: 120px;
}

div.zone_filtre span.checkbox{
	margin-right: 20px;
}

h3{
	color: #686868;
	margin: 0px;
	font-size: 16px;
}


div.title_h3{
	margin-bottom: 1em;
}
div.title_h3 span.filtre{
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 15px;
	line-height: 46px;
	color: #fa652b;
}
div.title_h3 span.separator{
    float: left;
	margin-left: 5px;
    font-size: 15px;
	line-height: 46px;
    color: #3278E0;
}
div.title_h3 a.filtre{
    float: left;
	margin-left: 5px;
    font-size: 15px;
	line-height: 46px;
    color: #3278E0;
    text-decoration: none;
}

div.title_h3 h3{
	margin-right: 150px;
}

div.aff_letter{
	float: left;
	width: 97%;
	margin-left: 40px;
}

div.aff_letter div.letter{
	float: left;
	width: 15%;
}

div.letter span.letter{
	float: left;
	width: 100%;
	font-size: 18px;
	color: #fa652b;
	font-weight: bold;
}

div.letter ul{
	float: left;
	padding-left: 15px;
}

div.letter ul li{
	float: left;
	list-style-type: none;
}

div.letter ul li a{
	float: left;
	width: 100%;
}


div.table_article{
	margin-top: 20px;
}

div.table_article > table{
	width: 100%;
	border-collapse: collapse;
    border: 1px solid #d6d6d6;
    padding: 15px;
    background-color: #f9f9f9;
}

div.table_article table tr:nth-child(2n){
    background-color: #FFFFFF;
}

div.table_article table td,th  {
    border:1px solid #D6D6D6;
}

td.table_article_text > img{
	float: left;
	margin-left: 5px;
}
div.table_article table td:last-child{
    text-align: center;
    width: 65px;
}
div.table_article table td:last-child img{
    cursor: pointer;
}
a.lien_bleu{
	color: #3278E0;
}

a.lien_orange{
	color: #fa652b;
}

a.link_img{
	color: #fa652b;
	text-decoration: none;
}
a.link_img img{
	border:0px;
}
a.link_img:hover span{
	text-decoration: underline;
}

td.center{
	width:7%;
	text-align: center !important;
}

td.center img{
	float: none;
}

div.table_article > table > tr{

}

tr.ligne2{
	background-color: #f9f9f9;
}

td.table_article_text{
	text-align: left;
	padding: 2px;
        border:1px solid #D6D6D6;
}

td.table_article_title{
	font-weight: bold;
	padding: 5px;
	text-align: left;
        border:1px solid #D6D6D6;
}

#liens_pagination {
    float: right;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
}

#liens_pagination span {
    color: #404040;
}

#liens_pagination > span.current,
#liens_pagination a,#liens_pagination a:hover{
    background-color: #FD7500;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    width: auto;
}

#liens_pagination a {
    background-color: #f9f9f9;
    color: #424242;
}

/***************** Fin Cadre liste des articles *****************/

/***************** Fiche article *****************/

div.bouton_suivant{
    float: left;
    margin-right: 20px;
}

div.bloc_gauche{
    border-bottom: medium none !important;
    float: left;
    height: 65px;
    /*overflow: hidden;    Cyril : pour les titres trop long ça sort*/
    width: 45%;
}

div.table_article_options{
	float:right;
        display:block;
}

div.table_article_options td{
	padding-left: 5px;
}

div.bloc_droite, div.article_tab{
	width: 50%;
	margin-top: 0px;
	background-color: #f9f9f9;
	float: right;
}

div.bloc_droite table{
	float: right;
	overflow: hidden;
}

div.categories{
	float: right;
}

div.categories span img{
	float: left;
}

div.info_article{
	float: left;
	width: 40%;
}

td.article_tab{
	padding: 0px;
	width: 0px !important;
}

div.zone_edit_wiki_gauche, div.zone_edit_wiki_droite{
	width: 70%;
	float: left;
	overflow: hidden;
	border: 1px dashed #d6d6d6;
}

div.zone_edit_wiki_gauche img,
div.zone_edit_wiki_droite img{
	float: right;
}

div.zone_edit_wiki_gauche p{
	padding: 10px;
}

div.zone_edit_wiki_droite{
	float: right;
	width: 28%;
}

div.title_edit_wiki, div.title_edit_wiki span{
	font-weight: bold;
	background-color: #f9f9f9;
}

div.title_edit_wiki{
	font-weight: normal;
}

div.niveau1{
    margin: 3px;
    width: 98.5%;
}

div.sous_sommaire{
	width: 100%;
}

div.sous_sommaire ul{
	float: left;
	padding-left: 10px;
}

div.sous_sommaire ul li {
	width: 100%;
	list-style-type: none;
}

div.sous_sommaire ul li a{
	color: #3278E0;
	width: 100%;
	float: left;
}
div.sous_sommaire ul li a.sous_sommaire{
	padding-left: 15px;
}

ul.sub_menu{
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: #3278E0;
    margin-bottom: 10px;
}
ul.sub_menu li{
    float: left;
    padding-right: 20px;
}
ul.sub_menu li a{
    text-decoration: none;
    color: #3278E0;
}
ul.sub_menu li a.selected{
    color: #FD661F;
}
ul.sub_menu li a:hover{
    color: #FD661F;
}

td.label{
    text-align: right;
    padding-right: 5px;
}

/*** GESTION DES CATÉGORIES ***/
div.root_categ{
    text-align: left;
    cursor: pointer;
}
div.root_categ:hover{
    color: #3278E0;
}
div.browser_categ{
    border: 1px solid #D6D6D6;
    min-height: 185px;
    text-align: left;
    background-color: white;
}
div.browser_categ div.bloc_categ{
    width: 125px;
    height: 175px;
    float: left;
    padding: 5px;
    border-right: 1px solid #D6D6D6;
}
/*div.browser_categ div.bloc_categ:last-child{
    border-right: 0px;
}*/
div.browser_categ div.bloc_categ li{
    cursor: pointer;
}
div.browser_categ p{
    float: left;
}
div.browser_categ div.bloc_categ li.selected, div.browser_categ div.bloc_categ li.selected:hover{
    color: #FD661F;
}
div.browser_categ div.bloc_categ li:hover{
    color: #3278E0;
}


div.category_item{
	overflow:hidden;
}
div.category_item div.label_categ{
	margin-right: left;
}
div.category_item div.puce_children{
	float:right;
	padding-top: 2px;
}


/*** MESSAGE D'ERREUR ***/
.display_errors{
    color: #FF0000;
}
.dims_error_input{
    background: rgba(255, 0, 0, 0.05);
}

/*** POPUP ***/
.dims_popup{
    background: #FFFFFF;
}

/* ----------------------------------------  FORMS DE CREATION / EDITION */
form.form_object_block,
div.form_object_block{
    width: 96%;
    margin: auto;
}

form.form_object_block div.sub_bloc_form,
div.form_object_block div.sub_bloc_form{
    background-color: #FAFAFA;
    border: 1px solid #DEDEDE;
    padding: 15px;
}

form.form_object_block td.label_field,
div.form_object_block td.label_field{
    text-align: right;
    width: auto;
}

form.form_object_block td.w30,
div.form_object_block td.w30{
	width: 30% !important;
}

form.form_object_block td.label_left,
div.form_object_block td.label_left{
    text-align: left !important;
}

form.form_object_block td.label_top,
div.form_object_block td.label_top{
    vertical-align: top !important;
}

/*quand on a un label top qui donne sur un chosen ça fait tout moche, alors là on recentre le label face au chosen*/
div.form_object_block td.label_chz_top{
    vertical-align: top !important;
    padding-top: 7px;
}

form.form_object_block td.label_field label,
div.form_object_block td.label_field label{
    font-weight: bold;
    color: #666;
}

form.form_object_block td.label_field span.required,
div.form_object_block td.label_field span.required{
    color: #E83137;
    margin-left: 3px;
    line-height: 16px;
    vertical-align: top;
}

form.form_object_block div.sub_bloc,
div.form_object_block div.sub_bloc{
    height: auto;
    width: 100%;
}

form.form_object_block div.sub_bloc h3,
div.form_object_block div.sub_bloc h3{
    color: #690;
}

form.form_object_block  div.skip,
div.form_object_block  div.skip{
    margin-bottom: 15px;
}

form.form_object_block div.sub_bloc table,
div.form_object_block div.sub_bloc table {
    width: 99%;
}

form.form_object_block div.sub_bloc table td input,
div.form_object_block div.sub_bloc table td input{
    width: 100%;
}

div.form_object_block div.sub_bloc table td input.fixe200{
	width: 200px
}
div.form_object_block div.sub_bloc table td input.fixe100{
	width: 100px
}

div.form_object_block div.sub_bloc table td.legend span{
	font-size: 0.9em;
	color: #999;
}
form.form_object_block div.sub_bloc table td input[type=checkbox],
div.form_object_block div.sub_bloc table td input[type=checkbox]{
    width: auto;
}

form.form_object_block div.sub_bloc table td input[type=radio],
div.form_object_block div.sub_bloc table td input[type=radio]{
    width: auto;
}

form.form_object_block div.sub_bloc table td input[type=file],
div.form_object_block div.sub_bloc table td input[type=file]{
    width: auto;
    float: left;
}

div.form_object_block div.sub_bloc table td select[multiple=multiple]{
    width: 100%;
    overflow: auto;
}

form.form_object_block div.sub_bloc table td textarea,
div.form_object_block div.sub_bloc table td textarea{
    width: 60%;
    min-height: 80px;
}
form.form_object_block div.sub_bloc table td img.existing_img,
div.form_object_block div.sub_bloc table td img.existing_img{
    float:left;
    margin-left: 10px;
}
div.sub_form{
    margin-top: 5px;
    overflow:hidden;
    width: 100%;
}

table span.legend{
    font-size: 0.9em;
    font-style:italic;
}

div.sub_form > div{
    float: right;
    line-height: 20px;
    color: #424242;
}

div.sub_form > div.form_buttons > div{
    float:left;
    margin-right: 7px;
}

div.sub_form span.mandatory_fields{
    color: #E83137;
}

span.edited_object{
    color: #6fb01f;
}

div.form_object_block div.sub_bloc .chzn-container .chzn-results .highlighted {
    background: #690 !important;
    color: #fff;
}

/* ----------------------------------------  ERREURS */

ul.global_message,
div.global_message{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 14px;
    margin-top: 10px;
}
ul.error_message,
div.error_message{
    border: 1px solid #E83137;
    background-color: #FFDADC;
    color: #666;
}

div.title{
    float:left;
    width: 70%;
}

div.mess_error{
    color: #E83137;
    font-style: italic;
}

/* ---------- TODOS --------------------------------*/
div.messages_list{
	margin-top: 1em;
	padding: 1em;
}
span.validated_par{
	color: #8CBC1C;
}
div.messages_list span.no_comment{
	color: #777;
	font-size: 1.2em;
	font-style: italic;
}
div.messages_list div.todo{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
}
div.ground0{
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 5px;
}
div.todo{
	overflow: hidden;
	margin-top: 5px;
}
div.todo div.details{
	padding: 2px;
}

div.todo div.details div.avatar{
	float: left;
}
div.todo div.details div.description{
	margin-left: 45px;
	min-height: 45px;
}

div.todo div.details div.description span.from{
	color: #FA652B;
}

div.todo div.details div.description span.dates{
	color: #999;
	font-style:italic;
	font-size: 0.9em;
}

div.todo div.message{
	padding: 1em;
	color: #444;
	background-color: #F5F5F5;
}

div.task_img{
	float: left;
}

div.todo div.content_right{
	text-align: right;
}

div.todo div.actions a.a_action{
	text-decoration: underline;
	color: #888;
	font-size: 0.9em;
	margin-right: 0.8em;
}
div.todo div.actions a.to_validate{
	color: #8CBC1C !important;
}

div.todo div.actions a:hover{
	color: #FA652B !important;
}

span.no_comment{
	color:#888;
}

div.div_no_elem{
	margin-top: 1.5em;
	color:#888;
	padding: 1em;
}
/* ---- ZONE HISTORIC ---- */
div#historic{
	clear: both;
	margin-top: 8px;
	margin-left: 10px;
}
div#historic p {
	line-height: 25px;
}
div#historic p img{
	vertical-align: middle;
}

div#historic p select{
   	background: transparent;
   	padding: 0.5em;
   	font-size: 12px;
   	border: 1px solid #ccc;
   	height: 3em;
   	width: 200px;
}

div#historic p select option{
	padding: 0.5em;
	color: #666;
}

a.action_view{
	display: block;
	margin-top: 10px;
}

/* ---- PARAMETRES ARTICLES -----*/


ul.sub_menus {
	margin-top: 10px;
    font-size: 14px;
    list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
}

ul.sub_menus li {
    float: left;
    margin-right: 20px;
}

ul.sub_menus li a {
    color: #999999 !important;
    text-decoration: none;
}

ul.sub_menus li.selected a {
    color: #FD661F !important;
    text-decoration: none;
}

/* --- Traduction article --- */
div.iframe_separator{
    background: #F9F9F9;
    height: 25px;
    margin-bottom: 5px;
    border: 1px solid #D6D6D6;
    padding-left: 5px;
}