.wce_rss_news {
	background-color:#f8f8f8;
	border:1px solid #f0f0f0;
	margin-bottom:2px;
	overflow:auto;
}

.wce_rss_news_title {
	clear:both;
	font-weight:bold;
	border-bottom:1px solid #f0f0f0;
	background-color:#f4f4f4;
	padding:2px;
}

.wce_rss_news_description {
	clear:both;
	padding:2px;
}

.wce_rss_news_source {
	clear:both;
	padding:2px;
}
