div.context_tag{
    float: left;
    width: 100%;
    padding: 10px;
}

div.context_tag span{
    text-decoration: underline;
}

div.context_tag img{
    margin-right: 3px;
    vertical-align: middle;
}

div.tag p{
	margin: 2px;
}
div.tag a{
    text-decoration: none;
}

div.tag a img{
    margin-right: 3px;
	vertical-align: middle;
}

div.tag a:hover{
	color: red;
}
div.tag span{
    text-decoration: underline;
}

div.tag{
    float: left;
	margin-right: 5px;
    white-space: nowrap;
}
