@font-face{
	font-family:'Glyphicons Halflings';
	src:url('/assets/fonts/modules/forms/glyphicons-halflings-regular.eot');
	src:url('/assets/fonts/modules/forms/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/modules/forms/glyphicons-halflings-regular.woff') format('woff'),
		url('/assets/fonts/modules/forms/glyphicons-halflings-regular.ttf') format('truetype'),
		url('/assets/fonts/modules/forms/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.module-form{
   /*@import url("../../../../common/css/bootstrap.min.css");*/
	div.flash{
		width: auto;
		margin-bottom: 5px;
		padding: 20px;
		font-size: 14px;
		margin-top: 10px;
		-webkit-border-radius:  4px;
		-moz-border-radius:     4px;
		border-radius:          4px;
	}
	@import "./include/bootstrap.min.scss";
}
