div.bloc_last_participations{
    float: left;
    width: 48%;
    margin-bottom: 20px;
}

div.bloc_zone_search_last_participations {
    float: right;
    width: 70%;
    margin-top: 5px;
}

div.bloc_zone_search_last_participations > #bloc_formsearch_last_participations {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input#bloc_editbox_search_last_participations{
    background: image-url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 80% !important;
}

#bloc_formsearch_last_participations > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.title_bloc_last_participations{
    float: left;
}

div.cadre_bloc_last_participations{
    float: left;
    width: 100%;
    height: 272px;
    overflow: auto;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-radius: 4px 4px 0px 0px;
}

div.cadre_bloc_last_participations table{
    width: 98%;
    margin-left: 1%;
    border-bottom: 1px solid #D6D6D6;
}

div.cadre_bloc_last_participations table img{
    float: left;
    margin-right: 10px;
}

span.title_last_participations{
    float: left;
    width: 80%;
    height: 21px;
    line-height: 21px;
    color: #df1d31;
}

div.cadre_bloc_last_participations_bas{
    background-color: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-radius: 0px 0px 4px 4px;
    float: left;
    height: 25px;
    width: 100%;

}

div.cadre_bloc_contact_bas{
    background-color: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-radius: 0px 0px 4px 4px;
    float: left;
    height: 25px;
    width: 100%;
}



table.bloc_last_participations_bas{
    border: none !important;
    width: 100%;
}

table.bloc_last_participations_bas td{
    float: left;
    line-height: 20px;
}

table.bloc_last_participations_bas td.add_participation{
    float: right;
}

td.add_participation span{
    margin-left: 5px;
    line-height: 20px;
}
