h1.h1_tags{
    float: left;
    margin: 0 0 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    width: 80%;
}

h3.h3_recently_used{
    float: left;
    margin: 0 0 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    width: 80%;
}

h3.h3_generic{
    float: left;
    margin: 0 0 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    width: 80%;
}

div.tag p{
	margin: 2px;
}
div.tag a{
    text-decoration: none;
}

div.tag a img{
    margin-right: 3px;
	vertical-align: middle;
}

div.tag a:hover{
	color: red;
}
div.tag span{
    text-decoration: underline;
}

div.tag{
    float: left;
	margin-right: 5px;
    white-space: nowrap; /* Spécial IE */
}

div.zone_tag div.new_tag{
    text-align: right;
}

div.tags{
    border-bottom: 1px solid #D6D6D6;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

div.zoneadd_tag {
	cleat:both;
	float:right;
	text-align: right;
	width:100%;
	margin-top:5px;
}

div.zoneadd_tagdetail {
	cleat:both;
	float:right;
	text-align: left;
	width:100%;
	margin-top:5px;
}