div.wce_main {
	overflow:visible;
	height:1%;
}

div.wce_main2 {
	overflow:visible;
	height:1%;
}

div.wce_main_form {
	overflow:visible;
	height:1%;
}

div.wce_tree_node {
	overflow:visible;
	height:1%;
}
