div.bloc_document {
	clear: left;
	float: left;
    width: 100%;
    margin-bottom: 20px;
}

div.bloc_zone_search_document {
    float: right;
    width: 70%;
    margin-top: 5px;
}

div.bloc_zone_search_document > #bloc_formsearch_document {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input#bloc_editbox_search_document{
    background: url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 74% !important;
}

#bloc_formsearch_document > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.title_bloc_document{
    float: left;
}

div.cadre_bloc_document{
    float: left;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px 4px 4px 4px;
}


div.add_document{
    border-bottom: 1px solid #D6D6D6;
    height: 20px;
    margin-left: 6px;
    padding-top: 5px;
    width: 98%;
}

div.add_document a {
    display: block;
    float: right;
}

div.add_document span{
    float: right;
    margin-left: 5px;
    line-height: 17px;
}

div.add_document_content{
    width: 97%;
    padding: 10px;
    overflow: auto;
}

div.add_document_content table {
    border-bottom: 1px solid #D6D6D6;
}

div.cadre_bloc_document_bas{
    width: 100%;
    height: 30px;
    background-color: #F1F1F1;
}

td.title_fiche_bloc_document{
    float: left;
    width: 100%;
    color: #df1d31;
}
td.title_fiche_bloc_document a {
    text-decoration: none;
    color: #DF1D31;
}

td.text_fiche_bloc_document{
    float: left;
    width: 100%;
    font-style:italic;
}

div.add_suivi_content table table td {
	float: left;
	margin-right: 20px;
}

span.text_fiche_add_document{
    float: left;
    width: 89%;
    margin-left: 5px;
    font-style:italic;
}
