div.zone_description{
    float:left;
    width: 99%;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 15px;
}
div.desc_picture_mini img{
    float: left;
    width: 61px;
}

div.desc_content{
    float: left;
    margin-left: 20px;
    width: 450px;
}

div.desc_content form {
	clear: left;
}

div.desc_content form {
	clear: left;
	overflow: visible;
	height: auto;
}

div.desc_content h1{
    margin: 0px;
}

div.desc_content table td img{
    float: left;
    height: 16px;
    line-height: 16px;
}

div.desc_content table td span{
    float: left;
    height: 16px;
    line-height: 16px;
    margin-right: 16px;
}

div.desc_content table td,
div.desc_content table th {
	vertical-align: top;
}

div.desc_content table th {
	text-align: left;
	font-size: 14px;
	color: #666;
}

div.desc_content form table select,
div.desc_content form table textarea,
div.desc_content form table input {
	width: 300px;
}

div.desc_content_title{
    margin-bottom: 5px;
}

div.desc_content_function{
    margin-bottom: 10px;
}

div.desc_content_link{
    width: 100%;
    margin-bottom: 10px;
	overflow: hidden;
	height: auto;
}

div.desc_content_link > div{
	float: left;
}

div.desc_content_link img{
	height: 16px;
}

div.desc_content_link span{
    margin-left: 5px;
    margin-right: 5px;
}


td.title_desc{
    width: 80px;
    text-align: right;
    font-weight: bold;
}

td.title_desc_rouge{
    color: #df1d31;
}

div.desc_member{
    float:right;
	margin-bottom: 5px;
}

div.desc_member span{
    font-weight: bold;
    color: #df1d31;
}

div.desc_member_content {
	clear:right;
	float:right;
}

div.desc_member_content table{
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 5px;
	height: 60px;
	width: 225px;
}

div.desc_member_content > table.fleche_defilement{
    border: none;
}

td.fleche_defilement{
    text-align: center;
}


div.desc_member_content > table.link_member{
    border: none;
    text-align: right;
}

td.link_member{
    text-align:right;
    line-height: 16px;
}

td.link_member img{
    float: right;
    line-height: 16px;
    margin-left: 5px;
}
