<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-family: Trebuchet, Arial, sans-serif; margin:0; padding: 0; background: #F5F5F5;">
	<table cellspacing="0" cellpadding="0" width="100%" >
	<tbody>
	<tr>
	<td align="center" valign="top">
		<table width="600" cellspacing="0" cellpadding="0" style="text-align: left;">
		<tbody>
			<tr>
				<td bgcolor=#ffffff >
					<table width="600" cellspacing="0" cellpadding="0" >
						<tbody>
						<tr>
							<td colspan=4 bgcolor=#706A67 style="text-align: right; padding: 2px 30px; font-size: 0.7em;">
								<a href="http://www.luxembourgforbusiness.lu" style="text-decoration:none; color: #fff;">www.luxembourgforbusiness.lu</a>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 0px 20px 30px; ">
								<img src="newsletter/lfb_logo.png" alt="Luxembourg for Business" />
							</td>
							<td  width="85">

								<a href="|*read_online*|" style="text-decoration: none;">
									<img src="newsletter/www.png" alt="View Online" title="View Online" style="border: none;"/>
								</a>
								<a href="|*pdf*|" style="text-decoration: none;">
									<img src="newsletter/pdf.png" alt="Download PDF" title="Download PDF" style="border: none;"/>
								</a>
							</td>
							<td  width="200">
								<a href="https://www.facebook.com/pages/Luxembourg-for-Business/67981088257" style="text-decoration: none;">
									<img src="newsletter/facebook.png" alt="Facebook" title="Facebook" style="border: none;"/>
								</a>
								<a href="https://twitter.com/Luxembourg4Bus" style="text-decoration: none;">
									<img src="newsletter/twitter.png" alt="Twitter" title="Twitter" style="border: none;"/>
								</a>
								<a href="http://www.linkedin.com/groups/Luxembourg-Business-3243110/about" style="text-decoration: none;">
									<img src="newsletter/linkedin.png" alt="LinkedIn" title="LinkedIn" style="border: none;"/>
								</a>
								<a href="https://plus.google.com/u/1/b/117389783220519760751/117389783220519760751/about" style="text-decoration: none;">
									<img src="newsletter/google.png" alt="Google+" title="Google+" style="border: none;"/>
								</a>
								<a href="http://www.youtube.com/user/luxembourgforbusines" style="text-decoration: none;">
									<img src="newsletter/youtube.png" alt="YouTube" title="YouTube" style="border: none;"/>
								</a>
							</td>
							<td width="65" style="padding-bottom: 5px;">
								<a href="|*unsubscribe*|" style="text-decoration: none;">
									<img src="newsletter/unsubscribe.png" alt="Unsubscribe" title="Unsubscribe" style="border: none;"/>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
				<table width="600" cellspacing="0" cellpadding="0" >
					<tbody>
						<tr>
							<td width=0></td>
							<td rowspan=2>
								<img src="newsletter/lfb_building.jpg" />
							</td>
						</tr>
						<tr>
							<td colspan=2 style="width: 600px; height: 197px; padding-left: 30px; padding-bottom: 20px; vertical-align: bottom;" >
								<span style="color: #fff; background: #698FC5; padding: 5px;">
								NEWSLETTER {$newsletter.MONTH} {$newsletter.YEAR}
								</span><br />
								<span style="background: #fff; color: #706A67; font-size: 1.6em; line-height: 2em; padding: 8px;">
								Risky business is everyone's business
								</span>
							</td>
						</tr>

					</tbody>
				</table>
				</td>
			</tr>
			<table width="600" cellspacing="0" cellpadding="0" style="text-align: left;">
			<tbody>

<!-- content starts here -->
<!-- thematic title -->
						<tr><td height="20"></td></tr>
						<tr>
							<td bgcolor=#706A67 style="color: #fff; padding: 5px 10px 5px 30px; font-size: 1.4em;" >
								Title of thematic sections
							</td>
						</tr>
						<tr>
							<td height=20></td>
						</tr>
<!-- END thematic title -->

<!-- Article -->
						<tr>
							<td style="padding: 0 30px 20px;" bgcolor=#ffffff>
								<h2 style="font-size: 1.1em; font-weight: normal;">
								Lorem Ipsum quo vadis
								</h2>
								<p style="font-size: 0.75em">
								Illab ipictis acerro ex evento dolora volorum, et magnihi llandandam fuga. Fugitae.
								Ovidebit voluptatiis miligenimil moluptassit, sae si optatur, temporibus endem que
								volum facersperume cum qui odi nonsequia que sumeturit quias accuptam sima porum laut
								as et eosam facerum quam nam etus nis volla et volupta tempori volorempos nis aped mi,
								veribus aut optae nonessum...
								</p>
								<a href="|*lire_plus*|"><img src="newsletter/read_more.png" alt="Read More" width="32" height="32" style="border: none;"/></a>
							</td>
						</tr>
						<tr>
							<td height=20></td>
						</tr>
<!-- END Article -->
<!-- content ENDS here -->
				{$newsletter.TEMPLATE_ROOT_PATH}
			</tbody>
			</table>
			<table width="600" cellspacing="0" cellpadding="0" style="text-align: left;">
			<tbody>

				<tr>
					<td bgcolor=#698FC5 style="padding: 10px 30px;">
						<img src="newsletter/lfb_logo_footer.png" alt="Luxembourg for Business" />
					</td>
					<td bgcolor=#698FC5 style="color: #fff; font-size: 0.6em;">
						Luxembourg for Business<br/>
						19-21, Boulevard Royal    L-2449 Luxembourg    Tel: +352 247-84116<br>
						<a href="|*unsubscribe*|"  style="padding-top: 6px; color: #fff; display: block;">Unsubscribe</a>
					</td>

				</tr>
			</tbody>
			</table>
		</tbody>
		</table>
	</td>
	</tr>
	</tbody>
	</table>
</body>
</html>