/* Etape 5 new activity */

div.tags_of_activity{
    width: auto !important;
}

div.tags_of_activity table{
    width: auto !important;
}

/* Adresse Book */

div.fiche_contact_container{
    overflow-x: hidden !important;
}

div.fiche_contact_AB table{
    width: 96% !important;
}
