div.creat_new_business{
    float: left;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #D6D6D6;
}

div.creat_new_business div.zone_search{
    width: 98%;
    height: 60px;
    padding: 10px;
    color: #686868;
}
/*div.creat_new_business div.zone_search div.radio_filters{
	margin-top: -8px;
}*/
div.creat_new_business span.no_result{
	font-weight: normal;
	font-style: italic;
}

div.zone_search > span.house{
    float: left;
    line-height: 40px;
}

div.zone_search > span.text-search{
    float: left;
    line-height: 40px;
    margin-left: 25px;
    font-weight: bold;
}

div.zone_search > img.home_logo{
    float: left;
    margin-top: -7px;
}

div.zone_search > .searchform {
    float: left;
    padding: 2px 0 0 10px;
    width: 75%;
}

div.zone_search > #formsearch_company {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input.editbox_search > #formsearch_company{
    background: image-url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 70%;
}

#formsearch_company > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.new_company{
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

div.zone_new_company{
    margin-top: 10px;
}

div.zone_new_company > table > span{
    text-align: right;
}

div.no_result{
    color: #DF1D31;
    float: left;
    text-align: right;
    width: 37%;
    font-weight: normal;
}

div.new_company_contact{
    float: left;
    width: 100%;
    padding-bottom: 5px;
    border-top: 1px solid #D6D6D6;
}

div.zone_new_company_contact{
    margin-top: 10px;
}
div.zone_new_company_contact table {
	width: 100%;
}
div.zone_new_company_contact table tr td{
	padding-top: 2px;
	padding-bottom: 2px;
}

div.zone_new_company_contact table tr td.text{
	width: 100px;
}
div.new_company_contact{
	border-bottom: 1px solid #D6D6D6;
}
div.zone_new_company_contact table span.no-result{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-style: italic;
	color: #DF1D31;
}


div.zone_new_company_contact table td.label_disabled{
	font-weight: bold;
	color: #A9A9A9;
}
div.zone_new_company_contact > table > span{
    text-align: right;
}

div.new_company_result{
    float: left;
    width: 100%;
}

span.add_vcard{
    float: right;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
}
span.add_vcard img{
    float: left;
    margin-right: 5px;
}

div.new_function{
    float: right;
    cursor: pointer;
}

div.new_function img{
    float: left;
    margin-right: 5px;
}

div.new_function span{
    height: 17px;
    line-height: 17px;
}

input.email{
    width: 100%;
}

div.new_company_contact_from_vcard{
    float: left;
    width: 100%;
    padding-bottom: 5px;
    border-top: 1px solid #D6D6D6;
}

div.zone_new_company_contact_from_vcard{
    margin-top: 10px;
}

span.title_existing_vcard_search{
    color: #656565;
    font-size: 10px;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}

table.use_existing_vcard_search{
    float: right;
    width: 90%;
    padding-bottom: 5px;
    border-bottom: 1px solid #D6D6D6;
}

div.use_existing_vcard{
    float: right;
    width: 90%;
    padding-bottom: 5px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
}

span.use_existing_vcard_name{
    float: left;
}

span.use_existing_vcard_email{
    float:left;
    width:100%;
    font-size: 10px;
    font-weight: normal;
    color: #df1d31;
}

span.use_existing_vcard_date,
span.use_existing_vcard_add{
    float:left;
    width:100%;
    font-size: 10px;
    font-weight: normal;
}

span.title_not_existing{
    color: #38992A;
    font-weight: bold;
}

div.zone_new_company td.styles_for_tags .chzn-container-multi .chzn-choices .search-choice span{
    background: image-url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") no-repeat !important;
    padding-left: 19px !important;
}
div.zone_new_company td.styles_for_tags .chzn-container .chzn-results li{
    list-style-image: image-url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") !important;
    list-style-position: inside !important;
}
div.zone_new_company td.styles_for_tags .chzn-container .chzn-results li.no-results{
    list-style-image: none !important;
    list-style-position: outside !important;
}
td.creat_new_business td.tag_for_contact_opp .chzn-container-multi .chzn-choices .search-choice span{
    background: image-url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") no-repeat !important;
    padding-left: 19px !important;
}
div.creat_new_business td.tag_for_contact_opp .chzn-container .chzn-results li{
    list-style-image: image-url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") !important;
    list-style-position: inside !important;
}
div.creat_new_business td.tag_for_contact_opp .chzn-container .chzn-results li.no-results{
    list-style-image: none !important;
    list-style-position: outside !important;
}

#zone_form_selected_company {
    display: none;
}

p.activity_links {
    text-align: right;
}
a.activity_new_contact {
    color: #df1d31;
    text-decoration: none;
    padding-right: 10px;
}
a.activity_new_contact img { vertical-align: sub; }


div.op_search_results{
	border-top: 1px solid #D6D6D6;
	max-height: 300px;
	overflow-y: auto;
}

div.op_search_results table {
	border-collapse: collapse;
}

div.op_search_results table  tr.content_details td {
	border-bottom: 1px solid #D6D6D6;
}

div.op_search_results table tr.last td {
	border-bottom: none !important;
}
