div.title_functions {
	border-bottom: 1px solid #D6D6D6;
	float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
	overflow: hidden;
}
div.title_functions img {
	float: right;
}

h2.functions_h2 {
	padding-bottom: 10px;
}

.zone_functions {
	float: left;
}
.zone_functions p {
	margin: 10px;
}
.zone_functions img {
	display: inline;
	vertical-align: middle;
}
.zone_functions a {
	display: inline;
	vertical-align: middle;
	font-size: 12px;
}

#appointmentOfferSelection {
	padding: 4px;
}
