/*
	AnythingSlider v1.5.10 CPE Theme
*/

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider-netlor .anythingWindow {
	border: 0;
}
div.anythingSlider-netlor .thumbNav a {
	/*border: 1px solid black;*/
	background: #777;
}
div.anythingSlider-netlor .thumbNav a:hover, div.anythingSlider-netlor .thumbNav a.cur {
	background: #009DE8;
	color: #424242;
}
div.anythingSlider-netlor .start-stop {
	border: 1px solid #000;
}
div.anythingSlider-netlor .start-stop.playing {
	background-color: #300;
}
div.anythingSlider-netlor .start-stop:hover, div.anythingSlider-netlor .start-stop.hover {
	color: #ddd;
}

/* Active State */
div.anythingSlider-netlor.activeSlider .anythingWindow {
	border-color: #fff;
}
div.anythingSlider-netlor.activeSlider .thumbNav a {
	background-color: #545454;
}
div.anythingSlider-netlor.activeSlider .thumbNav a:hover, div.anythingSlider-netlor.activeSlider .thumbNav a.cur {
	background: #CEE100;
	color: #CEE100;
}
div.anythingSlider-netlor.activeSlider .start-stop.playing {
	background-color: #f00;
}
div.anythingSlider-netlor .start-stop:hover, div.anythingSlider-netlor .start-stop.hover {
	color: #740073;
}

* Navigation Arrows */
div.anythingSlider-netlor .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
div.anythingSlider-netlor .arrow a {
	display: block;
	height: 40px;
	margin-top: -20px; /* half height of image */
	width: 30px;
	text-align: center;
	outline: 0;
	background: url(../images/arrows-minimalist.png) no-repeat;
}
div.anythingSlider-netlor .forward { right: 0; }
div.anythingSlider-netlor .back { left: 0; }
div.anythingSlider-netlor .forward a { background-position: right bottom; }
div.anythingSlider-netlor .back a { background-position: left bottom; }
div.anythingSlider-netlor .forward a:hover, div.anythingSlider-netlor .forward a.hover { background-position: right top; }
div.anythingSlider-netlor .back a:hover, div.anythingSlider-netlor .back a.hover { background-position: left top; }

/* Navigation Links */
div.anythingSlider-netlor .anythingControls {
	position: absolute;
	width: 100%;
	bottom: 4px;
	margin-right: 20px;
	right: 0px;
	z-index: 99;
	opacity: 0.90;
	filter: alpha(opacity=90);
}
div.anythingSlider-netlor .thumbNav {
	float: right;
	height: 23px;
    margin: 0;
    padding: 5px;
	z-index: 100;
	border-radius: 4px 4px 4px 4px;
	background: url(./gfx/overlay.png) repeat scroll center top transparent;
}
div.anythingSlider-netlor .thumbNav li {
	display: block;
	float: left;
}
div.anythingSlider-netlor .thumbNav a {
	border-radius: 8px 8px 8px 8px;
    display: block;
    height: 16px;
    margin: 3px;
    outline: 0 none;
    padding: 0;
    width: 16px;
	background-color: #545454;
}

div.anythingSlider-netlor .thumbNav a.cur{
	background-color: #800081;
}

div.anythingSlider-netlor .thumbNav a.cur span{
	color: white;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider-netlor.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider-netlor.rtl .thumbNav { float: left; }    /* move nav link group to left */


/* Autoplay Start/Stop button */
div.anythingSlider-netlor .start-stop {
	display: none;
}

/* Extra - replace defaults */
div.anythingSlider-netlor {
	padding: 0;
}

/* text indent moved to span inside "a", for IE7; apparently, a negative text-indent on an "a" link moves the link as well as the text */
div.anythingSlider-netlor .arrow a span, div.anythingSlider-netlor .thumbNav a span, div.anythingSlider-netlor .start-stop span {
	display: block;
	color: white;
	line-height: 16px; /* needed for IE7 */
	/*text-indent: -9999px; pour cacher le texte */
}


/* CAPTIONS */
.slider .caption {
	margin: 0;
	padding: 10px;
	/*background: transparent url(gfx/caption.png) repeat top left;*/
	color: #424242;
	font-weight: normal;
	width: 490px;
	height: 233px;
	margin-left: 480px;
}


.slider .caption a.block {
    bottom: 30px;
    color: #424242;
    display: block;
    font-size: 12px;
    margin-top: 20px;
    text-decoration: underline;
}

.slider .caption.top {
	width: 678px; /* diminué de 2px à cause des border*/
	height: 55px;
	margin-left: 0px;
}
.slider .caption.bottom {
	width: 700px;
	height: 55px;
	bottom: 0;
	margin-left: 0px;
}
.slider .caption.left {
	width: 200px;
	height: 233px;
	margin-left: 0px;
}
.slider .caption.right {
	width: 200px;
	height: 233px;
	margin-left: 480px;
}
