div.ligne_zone_texte {
    float:left;
}

div.commentaire{
    float:left;
    width: 100%;
}

div.ligne_zone_contact{
    float: left;
}

div.ligne_puce img{
    float: left;
}

div.recent_connexions_ligne{
    padding-bottom: 10px;
}


/* Edit activity tpl*/

td.type_ie7{
    vertical-align: top;
}

table.ro_zone_details img{
    vertical-align: middle;
}

td.ro_zone_details img{
    vertical-align: middle;
}
