input.submit {
    border: none !important;
    font-style: italic !important;
    color: #6699CC !important;
    font-weight: bold !important;
    background-color: transparent !important;
    font-size:16px !important;
    width:auto !important;
}

div.content input {
    background-color:#F1F1F1;
    border-color:#A6B6CF;
    border-style:solid;
    border-width:1px 1px 1px 4px;
    color:#353739;
    font-size:11px;
    width:215px;
    margin-bottom: 1px;
}



#multi_inscrip {
    /*background: transparent url(./gfx/event-list-border.gif) repeat-x scroll left bottom;*/
    /*height: 100px;*/
    margin-top: 10px;
}

#multi_inscrip .text_info {
    font-size: 14px;
    margin: 0;
    margin-top:20px;
    text-align:justify;
    margin-left:25px;
}

#form_multi_inscrip{
    margin-top:10px;
    border:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    clear:both;
    font-size: 12px;
}

#form_multi_inscrip p{
    color: #000000;
    margin: 0px;
}

#form_multi_inscrip input{
    width: 30px;
}

#multi_inscrip h2, #form_1 h2, #list_evt h2, #form_2 h2 {
    color:#000000; /*005F9E*/
    font-size:15px;
    font-weight:bold;
    margin:0 0 10px;
    padding:0;
}

#multi_inscrip input {
    background-color: #999999;
    width: 5%;
    color: #000000;
}

#form_1 {
    float: left;
	width:100%;
}

#form_1 tr{
    border: none !important;
}

#form_1 td{
    border: none !important;
}

#form_1 h1 {
    color:#527E99;
    margin-left:10px;
}

#form_1 label{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    font-family:Verdana,Arial,sans-serif;
}

#form_1 input text {
    float: left;
    width: 250px;
    height: 25px;
    background:#FFFFDE none repeat scroll 0 0;
    border:medium none;
    font-family:Verdana,Arial,sans-serif;
    font-size:11px;
    padding:6px !important;
}

#form_1 input #_lastname{
    margin-bottom: 3px;
}

#form_1 h3 {
    color:#46607C;
    display:inline;
    font-size:12px;
}

#form_1 .inscriptions {
    background: transparent url(./gfx/event-list-border.gif) repeat-x scroll left top;
    background: transparent url(./gfx/event-list-border.gif) repeat-x scroll left bottom;
    margin:auto;
    padding-bottom:5px;
    padding-left:0;
    padding-top:5px;
    width:95%;
    margin-top: 0px;
}

#form_1 .inscriptions p span {
	font-size:12px;
	font-style:italic;
}

#forms_1 label{
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  padding-top:3px;
  float: left;
  width: 400px;
  clear: both;

}


#form_1 .inscription {
    color:#000000; /*#005F9E*/
    font-size:15px;
    font-weight:bold;
    margin: 0 0 10px;
    padding: 0px;
}

#form_1 .inscription .info_oblig:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#form_1 .inscriptions .info_oblig {
    float:left;
    padding:0;
    /*width:400px;*/
}

#form_1 .inscriptions .info_compl {
    margin-left:50%;
    padding-left:1%;
    /*width: 45%;*/
}

#form_1 div.info_compl input.adresse{
    margin-bottom: -1px;
}

#form_1 .save {
    float: right;
    margin-bottom: 20px;
    margin-top: 8px;
    margin-right: 4%;
}

#form_1 .save input.submit {
    text-align:right;
    -x-system-font:none;
    line-height:21px;
    background:transparent none repeat scroll 0 0;
    border:0 none;
    color:#6699CC;
    cursor:pointer;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:15px;
    font-style:italic;
    font-weight:bold;
    margin:0;
    padding:0;
}

#form_inscrip_niv1.info_oblig label{
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  padding-top:3px;
  float: left;
  width: 400px;
  clear: both;
}

#list_evt {
    margin-top: 20px;
    border-bottom: 1px dotted #B2B6B9;
    padding-bottom: 20px;
}



#list_evt table {
    border-collapse:collapse;
    margin-left:40px;
}

#list_evt table th {
    /*border-bottom:2px solid #4E4E4E;*/
    font-size:13px;
    font-weight:bold;
    padding-right:15px;
    padding-top:5px;
    text-align:left;
}

#list_evt table td {
    /*border:1px dotted #4E4E4E;*/
    font-size:12px;
    font-weight:normal;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    text-align:left;
}

#list_evt table td a {
	text-decoration:none;
	color:#6699CC;
}

div#main-content div.content table tbody tr {
    background: none;
}

div#main-content div.content table tbody td {
    background: none;
}

#form_1 p {
	height:25px;
	margin-top: 0px;
	margin-bottom: 0px;
}



div#form-2-fair div#step div#step-informations{
	border-bottom: 1px solid #AEB2B5;
	overflow: auto;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom:15px;
}

div#form-2-fair div#step div#step-informations div#step-description{
	float: left;
	width: 375px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid #AEB2B5;
	color: #6F6F6F;
	margin-right: 30px;
}

div#form-2-fair div#step div#step-informations div#step-provided-files{
	padding-top: 10px;
	margin-left: 15px;
}

div#form-2-fair div#step div#step-informations div#step-provided-files div.provided-file{
	float: left;
	margin-right:15px;
}

div#form-2-fair div#step div#step-informations div#step-provided-files div.provided-file div.file-icon{
	float:left;
	margin-right: 5px;
}

div#form-2-fair div#step div#step-informations div#step-provided-files div.provided-file div.file-icon a img{
	border: 0;
}

div#form-2-fair div#step div#step-informations div#step-provided-files div.provided-file div.file-name{
	float:right;
	height: 22px;
	padding-top: 10px;
}

div#form-2-fair div#step div#step-paiement {
	padding-left: 15px;
	margin-bottom: 10px;
}

div#form-2-fair div#step div#step-condition {
	padding-left: 15px;
}

div#form-2-fair div#step div#step-files {
	padding-left: 15px;
	margin-bottom: 15px;
}

div#form-2-fair div#step div#step-files div.files{
	margin-bottom: 15px;
	clear: both;
}

div#form-2-fair div#step div#step-files div.files h3{
	float: left;
}

div#form-2-fair div#step div#step-files div.files form{
	float: right;
	margin-right: 20px;
}

div#form-2-fair div#step div#step-files div.files div.files-description{
	clear: both;
	color: #6F6F6F;
	margin-bottom: 5px;
}

div#form-2-fair div#step div#step-files div.files div.files-history{
	clear: both;
}

div#form-2-fair div#step div#step-files div.files div.files-history img{
	float: left;
}

div#form-2-fair div#step div#step-files div.files div.files-history table{
	width: 100%;
}

div#form-2-fair div#step div#step-files div.files div.files-history table th{
	text-align: left;
	color: #6F6F6F;
}

div#form-2-fair div#step div#step-files div.files div.files-history table td.pending{
	color: #FFA800;
}

div#form-2-fair div#step div#step-files div.files div.files-history table td.refused{
	color: #FF1F00;
}

div#form-2-fair div#step div#step-files div.files div.files-history table td.validated{
	color: #66CC00;
}

.pending {
	color: #77cc00;
}

div#event_content div.contactus {
	float: right;
	font-size:11px;
}
