#full_index div.bloc_menu_right_content div.footer_actus{
	text-align: center;
}
#full_index div.bloc_menu_right_content div.footer_actus a{
	color: #757575;
	text-decoration: underline !important;
}
#full_index div.actu{
	color: #757575;
	font-size: 1em;
}
#full_index div.actu:last-child{
	border-bottom: 0px;
}

#full_index p.actu_date{
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
}

#full_index div.actu_title{
	color: #333;
	font-weight: bold;
	text-transform:uppercase;
	margin-bottom: 3px;
}

#full_index div.actu_title a{
	color: #757575;
	font-size: 0.9em;
}

#full_index div.actu_details{
	overflow: hidden;
}

#full_index div.actu_details div.actu_picto img{
	width: 25px;
	height: auto;
	float: left;
}

#full_index div.actu_details div.actu_description{
	margin-left: 28px;
}

div.actu_description{
	font-size: 10px;
}

#full_index div.actu_full_place{
	margin-left: 0 !important;
}

/* Spécificités sur les WCE Objects ----------*/
#full_index span.level_actu{
	width: 8px;
	height: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 6px;
}

#full_index span.low_gravity{
	background-color: green;
}

#full_index span.middle_gravity{
	background-color: orange;
}

#full_index span.high_gravity{
	background-color: red;
}

div#full_index div.actu div.link_actu{
	text-align: right;
}

div#full_index div.actu div.link_actu a{
	color: #B70B01;
}
