div.bloc_mission {
	clear: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

div.bloc_zone_search_mission {
    float: right;
    width: 70%;
    margin-top: 5px;
}

div.bloc_zone_search_mission > #bloc_formsearch_mission {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input#bloc_editbox_search_mission{
    background: image-url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 74% !important;
}

#bloc_formsearch_mission > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.title_bloc_mission{
    float: left;
}

div.cadre_bloc_mission{
    float: left;
    width: 100%;
    height: 272px;
    overflow: auto;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-radius: 4px 4px 0px 0px;
}

div.cadre_bloc_mission > * {
	margin-left: 1%;
}

div.cadre_bloc_mission > table{
    width: 98%;
    border-bottom: 1px solid #D6D6D6;
}

div.bloc_ligne calendar > table {
    border-bottom: none !important;
}

div.cadre_bloc_mission table img{
    float: left;
    margin-right: 10px;
}

span.title_event_mission{
    float: left;
    height: 21px;
    width: 177px;
    color: #df1d31;
}

div.bloc_ligne {
    float: left;
}

table.ro_calendar {
    float: right;
}

td.bloc_calendar {
    display: block;
    float: left;
    padding: 0;
    width: 54px;
}

td.bloc_calendar > table {
    box-shadow: 0 2px 2px #AAAAAA;
    border-bottom: none !important;
}

td.calendar_top {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
}

td.calendar_bot {
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
    color: #424242;
    font-size: 14px;
    padding: 5px;
}

div.cadre_bloc_mission_bas{
    background-color: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-radius: 0px 0px 4px 4px;
    float: left;
    height: 25px;
    width: 100%;

}

/* couleurs des événements/activités en fonction de leur nature (future, fermée) */
table.future span.title_event_mission {
	color: green;
}

table.past span.title_event_mission {
	color: red;
}

table.past_closed span.title_event_mission {
	color: gray;
}
