.browser {
	height:1%;
	overflow:visible;
}

.doc_path {
	height:1%;
	overflow:visible;
}

div.doc_explorer_main {
	position:relative;
	overflow:hidden;
	border-color:#d8d8d8;
	border-style:solid;
	border-width:1px 1px 0 1px;
}

div.doc_explorer_main table{
    width: 100%;
}
div.doc_explorer_main table tr th{
    background-color: #f0f0f0;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
div.doc_explorer_main table tr td{
    cursor: pointer;
    border-left: 1px solid #d8d8d8;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #d8d8d8;
}
div.doc_explorer_main table tr td:first-child{
    width: 18px;
}
div.doc_explorer_main table tr:hover td{
    font-weight: bold;
    text-decoration: underline;
}

div.doc_explorer_title {
	overflow:visible;
	height:1%;
}

a.doc_explorer_link_1 {
	overflow:visible;
	height:1%;
}

a.doc_explorer_link_2 {
	overflow:visible;
	height:1%;
}

div.doc_explorer_line {
	overflow:visible;
	height:1%;
}

div.doc_folderinfo {
	overflow:visible;
	height:1%;
}


div.doc_fileform_main {
	overflow:visible;
	height:1%;
}

div.doc_versionlog_main {
	overflow:visible;
	height:1%;
}

div.doc_versionlog_main2 {
	overflow:visible;
	height:1%;
}

div.doc_versionlog_title {
	overflow:visible;
	height:1%;
}

a.doc_versionlog_link_1 {
	overflow:visible;
	height:1%;
}

a.doc_versionlog_link_2 {
	overflow:visible;
	height:1%;
}

div.doc_versionlog_line {
	overflow:visible;
	height:1%;
}
