@media (min-width: 1024px) {

    /* Layouts for large (l) screens */
    .large-hidden,
    .tablet-hidden {
        display: none !important;
    }


    .large-visible {
        display: block !important;
    }


    .large-no-float {
        float: none;
    }


    .large-inbl {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        float: none;
    }

    .large-row {
        display: table;
        table-layout: fixed;
        width: 100% !important;
    }

    .large-col {
        display: table-cell;
        vertical-align: top;
    }

    /* Widths for large (l) screens */
    .large-w25 {
        width: 25% !important;
    }

    .large-w33 {
        width: 33.3333% !important;
    }

    .large-w50 {
        width: 50% !important;
    }


    .large-w66 {
        width: 66.6666% !important;
    }


    .large-w75 {
        width: 75% !important;
    }


    .large-w100 {
        display: block !important;
        float: none !important;
        clear: none !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 0;
    }

    /* Margins for large (l) screens */

    .large-ma0,
    .large-man {
        margin: 0 !important;
    }

    /* -------------------------------------------------- */

}