div.title_new_opportunity > span{
    padding: 5px;
}

div.title_new_opportunity {
    border-bottom: 1px solid #D6D6D6;
}

div.title_description > h2{
    float: left;
    padding: 5px;
}

div.title_description > img{
    float: left;
}

div.title_description{
    border-bottom: 1px solid #D6D6D6;
    float: left;
    height: 30px;
    margin-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}

div.table_description_gauche {
    float: left;
    width: 50%;
    margin-top: 5px;
}
div.table_description_gauche span.date_label {
    text-align: left;
    font-weight: bold;
}

div.table_description td{
    width: 50%;
    font-weight: bold;
}

div.cadre_add_picture{
    border: 2px dashed #D6D6D6;
    float: left;
    height: 70px;
    padding: 5px;
    width: 70px;
    border-radius: 4px 4px 4px 4px;
}

div.text-avatar{
    float: right;
    height: 85px;
    line-height: 63px;
    text-align: right;
    width: 50px;
}

div.title_new_type{
    text-align: right;
    color: #df1d31;
}

div.title_new_type span{
    float: right;
    height: 17px;
    line-height: 17px;
}

div.title_new_type img{
    float: right;
    height: 17px;
    line-height: 17px;
}

div.cadre_add_picture img{
    position:absolute;
}

div.table_description_droite{
    float: right;
    width: 50%;
}

div.date_of_opportunity{
    float: left;
    width: 100%;
}

table.date_of_opportunity {
    clear: both;
}

div.date_range{
    text-align: left;
    font-size: 10px;
    color: #df1d31;
    cursor: pointer;
}

div.location_of_opportunity{
    float: left;
    width: 100%;
}

div.enter_title{
    text-align: right;
    font-size: 10px;
    color: #656565;

}

div.separator_mandatory{
    border-bottom: 3px solid red;
    clear: both;
}

div.separator_mandatory span{
    padding-left: 5px;
    font-size: 10px;
    color: #656565;
    font-style: italic;
}

div.tags_of_opportunity{
    float: left;
    width: 100%;
}

div.zone_contact_opportunity_content{
    float: left;
    width: 100%;
}

div.zone_contact_opportunity_gauche{
    float: left;
    width: 48%;
}

div.zone_search > #formsearch_contact {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input.editbox_search > #formsearch_contact{
    background: url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 70%;
}

#formsearch_contact > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.todo_form_error{
    float: left;
    color: red;
    font-size: 12px;
}

div.zone_contact_opportunity_droite{
    border-left: 1px solid #D6D6D6;
    float: left;
    width: 50%;
    font-weight: bold;
    padding: 5px;
}

div.title_new_type{
    color: #df1d31;
    font-weight: normal;
    cursor: pointer;
}

div.title_looking_existing_contact{
    border-bottom: 1px solid #000000;
    float: left;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    width: 98%;
    clear:both;
}

div.title_looking_existing_contact.dontkeep{
    color: #929292;
    font-style: italic;
}

div.title_looking_existing_contact.keep{
}

div.title_looking_existing_contact img{
    float: left;
}

div.title_looking_existing_contact span{
    float: left;
    height: 24px;
    line-height: 24px;
}

div.existing_contact{
    float: left;
    width: 98%;
    border-bottom: 1px solid #D6D6D6;
}


div.zone_contact_opportunity_enregistrement{
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

div.zone_contact_opportunity_enregistrement input{
    float: right;
}

div.zone_contact_opportunity_enregistrement span{
    float: right;
    height: 15px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

div.add_extras_doc{
    float: left;
    text-align: left ! important;
    width: 100%;
    min-height: 30px;
}

div.title_add_extras{
    float: left;
    color: #df1d31;
    font-weight: normal;
    cursor: pointer;
    margin-top: 15px;
}

div.title_add_extras img{
    float: left;
}

div.title_add_extras span{
    float: left;
    height: 17px;
    margin-left: 5px;
    line-height: 17px;
}

div.zone_avatar {
    border-bottom: 1px solid #D6D6D6;
    float: left;
    width: 100%;

}

div.zone_avatar table{
    margin-bottom: 20px;
}

.popup_add_value span {
    font-weight: bold;
}

div.tags_of_opportunity .chzn-container-multi .chzn-choices .search-choice span{
    background: url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png") no-repeat;
    padding-left: 19px;
}
div.tags_of_opportunity .chzn-container .chzn-results li{
    list-style-image: url("/modules/system/desktopV2/templates/gfx/common/tag_vide.png");
    list-style-position: inside;
}
div.tags_of_opportunity .chzn-container .chzn-results li.no-results{
    list-style-image: none;
    list-style-position: outside;
}

div.zone_new_opportunity div.chzn-container {
	font-weight: normal;
}

div.zone_new_opportunity a.button {
	vertical-align: bottom;
}

#div_list_searchevent {
    display: none;
    height: 100px;
    width: 600px;
    overflow: auto;
    border: 1px solid #D6D6D6;
    float: right;
}

input.opportunity_field, textarea.opportunity_field {
    width: 240px;
    border: 1px solid #666;
}
textarea.opportunity_textarea {
    width: 87%;
    height: 120px;
    float:right;
}

label.radio_label {
    cursor: pointer;
    padding-right: 22px;
}

#events_list { display: none; }

#removeEventLink { visibility: hidden; }

#link { width: 500px;}
