.agenda_calendar_main {
padding:0px;
border:1px solid #000000;
border-collapse:collapse;
}

.agenda_calendar_monthlist {
padding:10px;
text-align:center;
}

.agenda_calendar_monthlist select {
background-color:#eeeeee;
width:140px;
}

.agenda_calendar_weekday {
padding:2px;
background-color:#606040;
border:1px solid #000000;
color:#ffffff;
font-weight:bold;
text-align:center;
height:30px;
}

.agenda_calendar_day_disabled {
padding:4px;
width:60px;
height:40px;
text-align:left;
vertical-align:top;
border:1px solid #000000;
background-color:#f8f8f8;
}

.agenda_calendar_day_used {
padding:4px;
width:60px;
height:40px;
text-align:left;
vertical-align:top;
border:1px solid #000000;
background-color:#c5c6e2;
cursor: pointer;
}

.agenda_calendar_day_unused {
padding:4px;
width:60px;
height:40px;
text-align:left;
vertical-align:top;
border:1px solid #000000;
background-color:#eeeeee;
}


.agenda_search_main {
padding:0px;
border:1px solid #000000;
border-collapse:collapse;
background-color:#eeeeee;
}

.agenda_search_title {
padding:4px;
background-color:#606040;
border:1px solid #000000;
color:#ffffff;
font-weight:bold;
text-align:left;
}


.agenda_search_label {
text-align:right;
vertical-align:middle;
padding:4px;
}

.agenda_search_select {
padding:4px;
}

.agenda_search_select select {
background-color:#fafafa;
width:140px;
font-size:10px;
}

.agenda_search_input {
padding:4px;
}

.agenda_search_input input {
background-color:#fafafa;
font-size:10px;
}

.agenda_search_validate {
padding:4px;
text-align:right;	
}

.agenda_search_validate input{
font-size:10px;
}

.agenda_animation_main {
padding:0px;
border:1px solid #000000;
border-collapse:collapse;
background-color:#eeeeee;
width:400px;
}
	
.agenda_animation_category {
padding:4px;
background-color:#606040;
border:thin solid #000000;
color:#ffffff;
font-weight:bold;
text-align:left;
}

.agenda_animation_detail {
padding:4px;
text-align:left;
}
