html, body{
	font-size: 11px;
}

form {
padding: 0;
margin: 0;
}

body.bodyconnect {
	margin: 0;
	padding: 0;
	overflow:hidden;
}


body.bodyconnected {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-x: hidden;
}

.prompt_connexion{

	$green: #59B259;

	margin-top: 200px;
	background-color: #F5F5F5;
	padding: 2em 3em 1em 3em;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Helvetica', sans-serif;
	-moz-box-shadow: 5px 5px 5px #BBB;
	-webkit-box-shadow: 5px 5px 5px #BBB;
	box-shadow: 5px 5px 5px #BBB;
	font-size: 1.2em;
	font-weight: 100 !important;

	h1{
		font-weight: 200 !important;
		margin:0;
		font-size: 2.3em;
		margin-bottom: 1em;
		color: #494949;
	}
	.error{
		color: #FB586C;
		margin-top: 1em;
		font-size: 1.1em;
	}
	p{
		margin: 5px;
	}

	input[type=text], input[type=password]{
		width: 90%;
		height: 25px;
		font-size: 1em;
		padding: 0.4em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #BBB;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	div.actions_bloc{
		overflow:hidden;
		text-align: right;
	}
	div.actions_bloc input{
		background-position: 8px 5px;
		background-repeat: no-repeat;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding:5px;
		padding-left:8px;
		padding-right:10px;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	div.actions_bloc input.normal{
	   color: #333;
	   border: 1px solid #B5B7B7;
	   background-color: #F0F2F3;

	}
	div.actions_bloc input.normal:hover{
	   background-color: #E2E4E6;
	}
	div.actions_bloc input.normal:active{
	   background-color: #C1C2C2;
	}
	div.actions_bloc input.go{
	   color: #FFFFFF;
	   border: 1px solid #51a451;
	   background-color: $green;

	}
	div.actions_bloc input.go:hover{
	   background-color: #51A351;
	}
	div.actions_bloc input.go:active{
	   background-color: #4a944a;
	}
	.green{
		color: $green;
	}
	.bigger_message{
		font-size: 1.1em;
	}
	.login-footer{
		font-size: 0.8em;
		color: #777;
		text-align: center;
		margin-top: 1.5em;
		div{
			display: inline-block;
		}
	}
}

/* ---- Prompt de connexion RESPONSIVE --- */
@media only screen and (max-width: 600px) {
	.prompt_connexion{
		margin-top: 0;
		width: auto;
		background-color: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-moz-box-shadow: 0px;
		-webkit-box-shadow: 0px;
		box-shadow: 0px;
	}

	body{
		background-color: #F5F5F5;
	}
}

#center_f {
	margin:auto;
	width:440px;
}


#footer #center_f ul li {
	display:inline;
	padding-left:10px;
}


#lfb_logo {
	float:left;
	left:-20px;
	position:absolute;
	top:-10px;
}

a {
	text-decoration: underline;
}

img.ui-datepicker-trigger {
	vertical-align:top;
	margin-left:3px;
}

/*a.whitelink {
	color:#FFFFFF;
}*/
a img {
	border: 0;
}

img.img_1 {
	background-image: image-url('backoffice/desktopV2/media/1.gif');
}

.dims_form p {
	padding: .2em 0;
	margin: 0 0 .2em 0;
	clear: both;
}

p.wce_lienimage img,span {
	display: inline;
	border: 0;
}

.dims_form  label {
	float: left;
	width: 38%;
	text-align: right;
	margin: 0;
	padding: 2pt 0.5em 0pt 0pt;
}

.dims_form input[type='text'],.dims_form input[type='password'],.dims_form select,.dims_form textarea
	{
	width: 50%;
}

.dims_form textarea {
	height: 6em;
}

.dims_form_title {
	display: block;
	clear: both;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #303030;
	border-top: 1px solid rgb(192, 192, 192);
	height: 16px;
	text-decoration: none;
}

#popup_container {
	position: absolute;
	z-index: 20;
}

.dims_popup,
#dims_popup {
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0px;
	z-index: 22;
	background-color: #FFFFFF;
	min-height: 10px !important;
}

.overlay,
#overlay {
	background: transparent image-url("backoffice/desktopV2/img/overlay.png") repeat top left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 18;
	display:none;
}

#doc_preview_popup .head {
	border-bottom: 1px solid #456c7c;
	height: 30px;
	margin-bottom: 0;
	width: 100%;
}
#doc_preview_popup .aside {
	float: left;
	width: 180px;
}
#doc_preview_popup .preview {
	border-left: 1px solid #456c7c;
	margin: 0;
	width: 78%;
}

#doc_preview_popup h3 {
	font-size: 10px;
	font-weight:bold;
}

/* Re-définition des popups au couleurs du module assurance */
div.dims_popup {
	border: #383838 solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	height: 100%;
}

div.dims_popup > div > * {
	padding-left: 10px;
}

div.dims_popup > div > div.actions {
	float: right;
	padding: 5px;
}

div.dims_popup > div > div.actions img {
	width: 16px;
	height:16px;
}

div.dims_popup > div > div.actions + h2 {
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-radius-topleft:8px;
	-webkit-border-radius-topright:8px;
	border-radius-topleft:8px;
	border-radius-topright:8px;
	padding: 7px;
	margin: 0;
	margin-bottom: 5px;
	background-color: #383838;
	border: none;
	color: white;
}

div.dims_popup > div > h2 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}



#dims_popup2 {
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0px;
	z-index: 20;
	width: 200px;
	height: 400px;
	float: left;
	padding: 0px;
	color: #000000;
	text-align: left;
}

#dims_clipboard {
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0px;
	z-index: 1000;
	height: auto;
	width: 150px;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#top {
	background:image-url('backoffice/desktopV2/img/sprite.png') repeat-x scroll left -24px #000000;
	color:#FFFFFF;
	height:24px;
	line-height:24px;
	padding:0 5px;
	position:relative;
	z-index:9;
}

#top .dropdown {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll right -539px transparent;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	float:left;
	height:18px;
	line-height:18px;
	padding:3px 16px 3px 5px;
	position:relative;
}
* html #top .hover, #top .dropdown:hover {
	background-color:#5C5C5C;
}

#top .dropdown .menu {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-box-shadow:1px 1px 3px rgba(135, 139, 144, 0.4);
	background:none repeat scroll 0 0 #5C5C5C;
	display:none;
	left:0;
	margin:0;
	min-width:180px;
	padding:0 0 5px;
	position:absolute;
	top:24px;
	z-index:101;
}

#top .profile .menu {
	min-width:100px;
}
#top .dropdown ul {
	padding:0;
}
#top .dropdown li {
	background:none repeat scroll 0 0 transparent;
	border-bottom:1px dotted #4A4A4A;
	display:block;
	margin:0;
	padding:0;
}

#top .dropdown li.last {
	border-bottom:medium none;
}

#top .dropdown li a {
	display:block;
	float:none;
	margin:0;
	padding:5px 10px;
	white-space:nowrap;
}

#top .dropdown li a.whitelink {
	display:block;
	float:none;
	margin:0;
	padding:5px 0px 5px 25px;
	white-space:nowrap;
}



#top .dropdown li a:hover {
	background:none repeat scroll 0 0 #4A4A4A;
}

#top .dropdown li a.active, #top .dropdown li.active a {
	color:orange;
	cursor:default;
	font-weight:bold;
}

#top .dropdown:hover .menu {
	display:block;
}

body.universe-edit #top {
	background:image-url('backoffice/desktopV2/img/sprite.png') repeat-x scroll left top #000000;
}
#top a {
	border:0 none;
	color:#EEEEEE;
	display:block;
	float:left;
	outline:medium none;
	padding:0 5px;
	text-decoration:none;
}
#top a:hover {
	color:#FFFFFF;
}

#top a.back {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll -364px -817px transparent;
	padding-left:24px;
}
#top a.back:hover {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll -364px -865px transparent;
	text-decoration:underline;
}
#top .left {
	float:left;
	height:24px;
}
#top .right {
	float:right;
	}
* html #top .left {
	position:absolute;
}
#top .signin {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll -364px -624px transparent;
	font-weight:bold;
	padding-left:24px;
}
#top .signin:hover, #top .signup:hover, #top .signout:hover, #top .settings:hover, #top .profile:hover {
	background-color:#5C5C5C;
}
#top .signout {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll -366px -673px transparent;
	padding-left:20px;
}
#top .separator {
	background:image-url('backoffice/desktopV2/img/sprite.png') no-repeat scroll right -589px transparent;
	display:block;
	float:left;
	height:24px;
	width:16px;
}


#page_content {
	width:100%;
	min-height:500px;
}

.transbox {
	background:transparent url(../common/img/trans_white.png) top left repeat;
	-moz-border-radius : 4px 4px 4px 4px;
}

#content_list_act {
	border-right:1px solid #B3B3B3;

}

.items-tabs {
list-style:none outside none;
margin:0;
padding:0 0 0;
}
.items-tabs li {
-moz-border-radius : 6px 6px 0px 0px;
background-image:url("../common/img/home.list.tab.off.png?v=25");
background-position:right top;
background-repeat:no-repeat;
float:left;
height:20px;
line-height:20px;
margin:0 2px -1px 0;
padding:0 5px 0px 5px;
cursor:pointer;
}
.items-tabs li a {
background-color:inherit;
background-image:url("../common/img/home.list.tab.off.png?v=25");
background-position:left top;
background-repeat:no-repeat;
color:#BBBBBB;
display:block;
font-weight:bold;
padding:0 10px;
text-decoration:none;
}


.items-tabs li.selected {
background-image:url("../common/img/home.list.tab.on.png?v=25");
background-position:right top;
background-repeat:no-repeat;
border-bottom:1px solid #F0F0F0;
cursor:pointer;
}
 .items-tabs li.selected a {
background-color:inherit;
background-image:url("../common/img/home.list.tab.on.png");
background-position:left top;
background-repeat:no-repeat;
}

.item-list {
clear:left;
color:inherit;
float:left;
padding-bottom:10px;
}

.item-list h2 {
display:none !important;
}
.item-list .item {
background:url("../common/img/bg.item.png?v=25") repeat-x scroll left top #F2F2F2;
border:1px solid #E3E3E3;
float:left;
height:5.8em;
margin:5px 5px 0;
padding-left:0px;
position:relative;
width:100%;
cursor:pointer;
}

.item-list .item h3 {
display:block;
float:left;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif !important;
font-size:13px !important;
font-weight:normal;
height:20px;
margin:0 !important;
overflow:hidden;
padding:5px 20px 0 80px !important;
}

.item-list .item p {
margin:0;
}
.item-list .item p.preview {
background:url("../common/img/widget.thumb.bg.png?v=25") no-repeat scroll left top transparent;
height:62px;
left:0;
position:absolute;
top:0;
width:64px;
}

.thumb {
	padding:7px;
}

.item-list .item p.preview a {
display:block;
height:48px;
padding:7px;
width:64px;
}
.item-list .item p.rating {
background:url("../common/img/stars.png?v=25") repeat-x scroll left bottom transparent;
display:block;
height:12px;
left:10px;
position:absolute;
top:60px;
vertical-align:bottom;
width:60px;
}

.item-list .item p.rating span {
background:url("../common/img/stars.png?v=25") repeat-x scroll left top transparent;
height:12px;
left:0;
line-height:12px;
overflow:hidden;
position:absolute;
text-indent:-1000em;
top:0;
}
.item-list .item p.creation-date {
background-color:transparent;
display:block;
font-size:0.8em;
margin:0;
overflow:hidden;
width:150px;
float:right;
top:0px;
}
.item-list .item p.tags {
clear:both;
font-size:0.8em;
height:2.3em;
line-height:1.1em;
margin:0 0 5px;
overflow:hidden;
padding-left:80px;

}
.item-list .item p.add, .item-list .item p.visits {
display:block;
float:left;
font-size:0.8em;
line-height:1.2em;
overflow:hidden;
padding-bottom:5px;
padding-left:80px;
clear:both;
width:120px;
}
.icons {
	background-image:url(../common/img/icons.png);
	border:0px;
	display:inline-block;
	height:17px;
	width:17px;
	top:2px;
	position:absolute;
	left:0px;
}

.lfloat {
	float:left;
}

.fil_actu {
	background-position:-17px -1px;
}

.fil_ct {
	background-position:-17px -72px;
}

.fil_tag {
	background-position:-17px -306px;
}

.fil_shortcut {
	background-position:-17px -38px;
}

.action  a {
font-weight:normal;
text-align:left;
}

.options a {
font-weight:normal;
text-align:left;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.options {
	clear:both;
	font-style: normal;
		margin-top:2px;
}
.ptb {
	padding-bottom:15px;
	padding-top:10px;
}

.listItem {
	display:block;
	clear:both;
}

.listItem:firstElem {
	border:0 none;
}

.listItemBorder {
	border-width:1px 0 0;
	border-style:solid;
}
.listItemImageLink {
	float:left;
	margin-right:5px;
}

.listItemImage {
	height:50px;
	width:50px;
	display:block;
}

.listItemImageMedium {
	height:32px;
	width:32px;
	display:block;
}

.listItemComment {
border-bottom:1px solid #E5EAF1;
margin-top:2px;
padding:5px 5px 4px;
display:block;
float:left;
}

.listItemContent {
display:table-cell;
vertical-align:top;
width:90%;
}

.listItemMessage {
font-size:13px;
font-weight:normal;
margin:0 0 5px;
}

canvas {
	border: 0px solid black;
	position: absolute;
}

#menu_content_onglet {
	position:relative;
	width:100%;
	height:30px;
}

div.pagination {
	text-align:center;
	margin:10px 0;
}
div.pagination a, div.pagination span {
	padding:0 5px;
}

ul#searchBar_result_obj {
margin:0;
padding:0;
padding-top:4px;
margin-top:10px;
margin-left:10px;
}

#searchBar_result_obj li {
list-style-type:none;
float:left;
}

ul#searchBar_result_obj li a {
text-decoration:none;
font:normal 9pt;
}

div#searchBar_obj a {
text-decoration:underline;
}

div#searchBar_obj_container {
width:360px;
height:90px;
margin:auto;
}

div#searchBar_obj {
margin:auto;
}

ul#searchBar_result_obj {
margin:0;
padding:0;
padding-top:4px;
margin-top:10px;
margin-left:10px;
}

#searchBar_result_obj li {
list-style-type:none;
float:left;
}

ul#searchBar_result_obj li a {
text-decoration:none;
font:normal 9pt;
color:#333;
}

div#searchBar_obj a {
color:blue;
text-decoration:underline;
}

div#searchBar_obj_container {
width:360px;
height:30px;
margin:auto;
}

div.resultsearchbloc {
background:url("../common/img/searchbox_result.png") no-repeat scroll 0 0 transparent;
border:0 none;
float:left;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:normal;
height:18px;
line-height:16px;
margin:0;
padding:0px;
vertical-align:middle;
width:390px;
}

#searchBar_result_obj2 {
	width:100%;
	border:none;
	line-height:40px;
	text-align:left;
	background:transparent url('./common/img/results.png') top left no-repeat;
}

#searchBar_result_obj2 a:visited, #searchBar_result_obj2 a:link {
	text-decoration:none;
	font-weight:bold;
}

* .dims_explorer_element {
	display: block;
}

* .dims_explorer_element p {
	padding: 2px 4px;
	margin: 0;
	overflow: hidden;
}

a.dims_explorer_element:hover {
	text-decoration: none;
}

a.dims_explorer_link {
	display: block;
	overflow: hidden;
	text-decoration: none;
	margin-top: 1px;
}

div.dims_explorer_line {
	overflow: hidden;
	border-bottom: 1px solid #d0d0d0;
}

div.dims_explorer_tools {
	overflow: hidden;
}

div.dims_explorer_tools a {
	display: block;
	float: left;
	padding: 1px 2px;
}
div.dims_explorer_main {
	position: relative;
	overflow: hidden;
}

div.dims_explorer_maintitle {
	font-weight: bold;
	padding: 4px;
	overflow: auto;
}

div.dims_explorer_title {
	font-weight: bold;
	border-bottom: 1px solid #d8d8d8;
	overflow: auto;
}

div.dims_explorer_column {
	position: absolute;
	height: 100%;
	border-left: 1px solid #d8d8d8;
	z-index: 10;
}

.onglettoolbar {
	clear: both;
	overflow: none;
}

.onglettoolbar_right {
	float: right;
}

.onglettoolbar_icon {
	display: block;
	float: left;
	height:20px;
	border-top: 1px solid #3B567E;
	border-left: 1px solid #3B567E;
	border-right: 1px solid #3B567E;
	border-bottom: 1px solid #3B567E;
	margin-right: 0px;
	background:transparent url('../common/img/background_block.png') repeat;
	padding: 1px 1px 1px 1px;
}

.onglettoolbar_icon a {
	display: block;
	font-size:13px;
}

.onglettoolbar_icon a:hover {
	text-decoration: none;
	opacity: 1;
}

.onglettoolbar_icon_image {
	float:left;
	text-align: center;
	padding-left:6px;
	padding-top:0px;
}

.onglettoolbar_icon_title {
	float:left;
	text-align: center;
	padding:2px 2px 0 5px;
}

.onglettoolbar_icon_sel {
	display: block;
	float: left;
	margin-right: 5px;
	border-top: 1px solid #3B567E;
	border-left: 1px solid #3B567E;
	border-right: 1px solid #3B567E;
	border-bottom: 1px solid #7D95B8;
	background:transparent url('../common/img/background_onglet2.png') repeat;
	height:20px;
	padding: 1px 1px 1px 1px;
	font-size:12px;
}

.onglettoolbar_icon_sel a {
	display: block;
}

.onglettoolbar_icon_sel a:hover {
	text-decoration: none;
}

.toolbar {
	clear: both;
	padding-bottom: 2px;
	overflow: auto;
}

.toolbar_right {
	float: right;
}

.toolbar_icon_vertical {
	display: block;
	border: 1px solid #a0a0a0;
	margin-bottom: 2px;
	padding: 1px;
	overflow: auto;
}

.toolbar_icon_vertical a {
	display: block;
	text-decoration: none;
	opacity: 0.8;
}

.toolbar_icon_vertical a:hover {
	text-decoration: none;
	opacity: 1;
}

.toolbar_icon {
	-moz-border-radius : 4px 4px 4px 4px;
	display: block;
	float: left;
	border: 1px solid #a0a0a0;
	margin-right: 1px;
	padding: 1px;
}

.toolbar_icon a {
	display: block;
	text-decoration: none;
	opacity: 0.8;
}

.toolbar_icon a:hover {
	text-decoration: none;
	opacity: 1;
}

.toolbar_icon_image {
	text-align: center;
	border-bottom: 1px solid #d0d0d0;
	padding: 4px;
}

.toolbar_icon_title {
	text-align: center;
	padding: 2px 5px;
}

.toolbar_icon_sel {
	-moz-border-radius : 6px 6px 6px 6px;
	display: block;
	float: left;
	border: 1px solid #4E68A6;
	margin-right: 2px;
	padding: 1px;
}

.toolbar_icon_sel a {
	display: block;
}

.toolbar_icon_sel a:hover {
	text-decoration: none;
}

tr.title {
	font-weight: bold;
}

td.tdl2 {
	cursor: pointer;
}

div.wce_tree {
	float: left;
	width: 20%;
}

div.wce_tree_padding {
	padding: 4px;
	overflow: auto;
}

div.wce_tree_node {
	clear: left;
	overflow: auto;
}

div.wce_tree_node img {
	display: block;
	float: left;
}

div.wce_tree_node a {
	display: block;
	float: left;
	line-height: 18px;
	height: 18px;
}

div.wce_main {
	overflow: auto;
}

div.wce_main2 {
	overflow: auto;
}

div.wce_main_form {
	padding: 4px;
}

div.wce_form_row {
	clear: both;
	padding-top: 2px;
	width: 310px;
}

div.wce_form_label {
	float: left;
	width: 100px;
	text-align: right;
	padding: 2px 4px;
}

div.wce_form_input {
	float: left;
	text-align: left;
}

div.wce_form_buttons {
	float: right;
	text-align: right;
}

p.wce_lienimage {
	margin: 0;
}

div.wce_row {
	clear: both;
	overflow: auto;
}

div#monitors_container, #onglets_container ul, #onglets_search_container ul {width:100%;}

.onglets_container, .onglets_search_container {
	position:absolute;
	top:3px;
	left:15px;
	width:90%;
}

.onglets_container ul li, #onglets_search_container ul li {
	list-style-type:none;
	list-style-image:none;
	list-style-position:inside;
	display:inline;
	cursor:pointer;
}

.onglet_actif {
	text-align:center;
	line-height:20px;
	width:auto;
	float:left;
	background-color:#FFF;
	color:#263657;
	text-decoration:none;
}
.onglet_actif_before {
	background:transparent url(../common/img/onglet_actif_l.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
}
.onglet_actif_after {
	background:transparent url(../common/img/onglet_actif_r.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
	margin-right:5px;
}

.onglet_inactif {
	text-align:center;
	line-height:20px;
	width:auto;
	float:left;
	text-decoration:none;
}

.onglet_inactif_before {
	background:transparent url(../common/img/onglet_inactif_l.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
}
.onglet_inactif_after {
	background:transparent url(../common/img/onglet_inactif_r.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
	margin-right:5px;
}

.onglet_inactif {
	text-align:center;
	line-height:20px;
	width:auto;
	float:left;
	text-decoration:none;
}
.onglet_inactif_before {
	background:transparent url(../common/img/onglet_inactif_l.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
}
.onglet_inactif_after {
	background:transparent url(../common/img/onglet_inactif_r.png) top left no-repeat;
	float:left;
	height:20px;
	width:5px;
	margin-right:5px;
}

/********************************/
/* STYLES POUR D'AUTRES ONGLETS */
/********************************/

.onglet_selected, .onglet_notselected {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	cursor:pointer;
	border:1px solid #bbb;
	border-bottom:0px;
	line-height:20px;
	padding:0 5px;
}
.dims_annotations_row_1 {
	overflow:auto;
}

.dims_annotations_row_2 {
	overflow:auto;
}

.dims_annotation_viewlist {
	display:block;
	text-decoration:none;
	height:24px;
	line-height:24px;
	font-weight:bold;
	margin:0;
	padding:0 6px;
	overflow:hidden;
}


.dims_annotation_viewlist img, .dims_annotation_viewlist span {
	vertical-align: middle;
}

.dims_annotation_viewlist span {
   padding-left: 5px;
}

.dims_annotation_popup_list {
	height:200px;
	overflow:auto;
}

.dims_annotations_titleform {
	display:block;
	font-weight:bold;
	line-height:24px;
	height:24px;
	padding-left:6px;
}

.dims_annotations_titleform img, .dims_annotations_titleform span {
	vertical-align: middle;
}

.dims_annotations_titleform span {
   padding-left: 5px;
}

/***************************
 * Style importation V-card
 **************************/

#table_vcard .td_vcard1{
	height: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom:2px;
}

#table_vcard .td_vcard2{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom:30px;
}

#table_vcard .div_name{
	font-size:15px;
	font-weight: bold;
}
#table_vcard .div_intitule{
	font-weight: bold;
}

div.system_group_icons {
float:right;
height:100%;
width: 205px;
}

div.system_group_icons_padding {
}

div.system_group_main {
overflow:auto;
}

img.download {
	background: url('../common/img/ico_download.png') top center no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
}

img.zip {
	background: url('../common/img/ico_download_zip.png') top center no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
}

.browser {
	padding: 6px;
	overflow: auto;
}

.doc_path {
	padding: 2px;
	margin-bottom: 2px;
	overflow: auto;
}

.doc_pathmenu a {
	display: block;
	float: left;
	padding: 2px;
	margin-left: 2px;
}

.doc_pathmenu a:hover {
	border: 1px solid #c0c0c0;
	text-decoration: none;
}

div.doc_folderinfo {
	position: relative;
	overflow: hidden;
	margin-bottom: 2px;
}

div.doc_folderannotations {
	position: relative;
	overflow: hidden;
	margin-bottom: 2px;
}

div.doc_explorer_main {
	position: relative;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 0 1px;
}

div.doc_explorer_maintitle {
	font-weight: bold;
	padding: 4px;
	overflow: auto;
}

div.doc_explorer_title {
	font-weight: bold;
	overflow: auto;
}

div.doc_explorer_column {
	position: absolute;
	height: 100%;
	border-left: 1px solid #d8d8d8;
	z-index: 10;
}


#doc_share {
	margin: 4px;
}

#doc_workflow {
	margin: 4px;
}

div.doc_fileform {
	margin-bottom: 2px;
}

div.doc_fileform_title {
	font-weight: bold;
	padding: 4px;
}

div.doc_fileform_main {
	overflow: auto;
}

#doc_legend {
	padding: 4px 0;
}

#doc_legend span {
	padding: 0 8px 0 4px;
}

#calendar {
	padding: 4px;
}

.calendar_row {
	clear: both;
	overflow: auto;
}

.calendar_day {
	float: left;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.calendar_day div {
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #d8d8d8;
}

.calendar_day a {
	display: block;
	text-decoration: none;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #c0c0c0;
}

.calendar_day a:hover {
	text-decoration: none;
}

.calendar_day_selected {
	text-decoration: none;
}
.calendar_arrow {
	float: left;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.calendar_month {
	float: left;
	width: 110px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
}

.tabs {
float:left;
font-size:8pt;
line-height:normal;
width:100%;
}

.tabs li.selected {
background:image-url("backoffice/desktopV2/media/main/subheader_sep.png") repeat-y scroll right center #FFFFEE;
float:left;
height:25px;
margin:0;
padding:0 12px;
}

.tabs li {
background:image-url("backoffice/desktopV2/media/main/subheader_sep.png") repeat-y scroll right center transparent;
float:left;
margin:0;
padding:0 2px;
}

.tabs ul {
list-style:none outside none;
}


.tabs a {
display:block;
padding:5px 6px 4px 2px;
}

.bg32 {
	background: image-url('backoffice/desktopV2/media/main/bg_32.png') no-repeat 0px 0px;
	width: 5px;
	height: 32px;
}

.bd32 {
	background: image-url('backoffice/desktopV2/media/main/bd_32.png') no-repeat 0px 0px;
	width: 6px;
	height: 32px;
}

.mid32 {
	background: image-url('backoffice/desktopV2/media/main/mid_32.png') repeat-x 0px 0px;
	height: 32px;
}

.bgb32 {
	background: image-url('backoffice/desktopV2/media/main/bgb_32.png') no-repeat 0px 0px;
	width: 6px;
	height: 32px;
}

.bdb32 {
	background: image-url('backoffice/desktopV2/media/main/bdb_32.png') no-repeat 0px 0px;
	width: 6px;
	height: 32px;
}

.midb32 {
	background: image-url('backoffice/desktopV2/media/main/midb_32.png') repeat-x 0px 0px;
	height: 32px;
}

.bgb20 {

	width: 4px;
	height: 20px;
}

.bdb20 {

	width: 4px;
	height: 20px;
}

.midb20 {

	height: 20px;
	text-align: center;
	font-size:13px;
		font-weight:bold;
}

.midb16 {
	background: image-url('backoffice/desktopV2/media/main/midb_16.png') repeat-x 0px 0px;
	height: 16px;
	text-align: center;
	padding-top:1px;
		color:#FFFFFF;
}
a.planning_planning_action {
	display: block;
	overflow: hidden;
	font-size: 1em;
	text-align: left;
	text-decoration: none;
	opacity: 0.85;
	z-index: 0;
}

a.planning_planning_action:hover {
	text-decoration: none;
	opacity: 1;
	z-index: 1;
}

a.planning_action {
	display: block;
	clear: both;
	overflow: hidden;
	font-size: 1em;
	text-align: left;
	text-decoration: none;
	z-index: 0;
}

a.planning_action:hover {
	text-decoration: none;
	opacity: 1;
	z-index: 1;
}

div.planning_info {
	float:left;
	padding-left:2px;
}

div.planning_planning_heure {
	padding: 0px;
	vertical-align: top;
	float: left;
}

p.planning_planning_heure {
	margin: 0;
}

p.planning_planning_heure span {
	vertical-align: top;
	display: inline;
}

span.planning_planning_heure {
	font-weight: bold;
}

span.planning_planning_minute {
	font-size: 0.8em;
	vertical-align: super;
}

div.planning_planning_detail {
	clear: both;
	padding: 1px;
}

div.planning_planning_detail div {
	clear: both;
}

div.planning_planning_popup {
	font-size: 0.8em;
	padding: 4px;
	z-index: 10;
}

#planning_calendar {
	padding: 4px;
}

.planning_calendar_row {
	clear: both;
	overflow: auto;
}

.planning_calendar_rowsel {
	clear: both;
	overflow: auto;
}

.planning_calendar_day_title {
	margin: 0 1px 0 0;
}

.planning_calendar_day {
	position: relative;
	border: 0px;
	margin: 1px;
}

.planning_calendar_day_selected {
	position: relative;
	margin: 0 1px 1px 0;
}

.planning_calendar_arrow {
	float: left;
	text-align: center;
}

.planning_calendar_userlink {
	display: block;
	padding: 2px 4px;
	margin: 0 0 1px 1px;
	text-decoration: none;
}

.planning_calendar_userlink:hover {
	text-decoration: none;
}

h2 {
	font-size:12px;
	margin:2px;
}

#calendardiv {
	position: absolute;
	visibility: hidden;
	background-color: #ffffff;
	top: 0px;
	left: 0px;
	z-index: 1000;
	height: auto;
	width: 150px;
}

/* ----------------------------------------  FORMS DE CREATION / EDITION */
form.form_object_block,
div.form_object_block{
	width: 96%;
	margin: auto;
}

form.form_object_block div.sub_bloc_form,
div.form_object_block div.sub_bloc_form{
	background-color: #FAFAFA;
	border: 1px solid #DEDEDE;
	padding: 15px;
}

form.form_object_block div.hidden div.sub_bloc_form table,
div.form_object_block div.hidden div.sub_bloc_form table {
	display: none;
}

form.form_object_block td.label_field,
div.form_object_block td.label_field{
	text-align: right;
	width: auto;
}

form.form_object_block td.w30,
div.form_object_block td.w30{
	width: 30% !important;
}

form.form_object_block td.label_left,
div.form_object_block td.label_left{
	text-align: left !important;
}

form.form_object_block td.label_top,
div.form_object_block td.label_top{
	vertical-align: top !important;
}

/*quand on a un label top qui donne sur un chosen ça fait tout moche, alors là on recentre le label face au chosen*/
div.form_object_block td.label_chz_top{
	vertical-align: top !important;
	padding-top: 7px;
}

form.form_object_block td.label_field label,
div.form_object_block td.label_field label{
	font-weight: bold;
	color: #666;
}

form.form_object_block td.label_field span.required,
div.form_object_block td.label_field span.required{
	color: #E83137;
	margin-left: 3px;
	line-height: 16px;
	vertical-align: top;
}

div.form_object_block td.label_field label.label_disabled,
form.form_object_block td.label_field label.label_disabled{
	color: #999 !important;
}

form.form_object_block div.sub_bloc,
div.form_object_block div.sub_bloc{
	height: auto;
	width: 100%;
}

form.form_object_block div.sub_bloc h3,
div.form_object_block div.sub_bloc h3{
	color: #FD661F;
}

form.form_object_block div.sub_bloc h3 input,
div.form_object_block div.sub_bloc h3 input{
	vertical-align: middle;
}

form.form_object_block  div.skip,
div.form_object_block  div.skip{
	margin-bottom: 15px;
}

form.form_object_block div.sub_bloc table,
div.form_object_block div.sub_bloc table {
	width: 99%;
}

form.form_object_block div.sub_bloc table td input,
div.form_object_block div.sub_bloc table td input{
	width: 100%;
}

div.form_object_block div.sub_bloc table td input.fixe200{
	width: 200px
}

div.form_object_block div.sub_bloc table td.legend span{
	font-size: 0.9em;
	color: #999;
}
form.form_object_block div.sub_bloc table td input[type=checkbox],
div.form_object_block div.sub_bloc table td input[type=checkbox]{
	width: auto;
}

form.form_object_block div.sub_bloc table td input[type=radio],
div.form_object_block div.sub_bloc table td input[type=radio]{
	width: auto;
}

form.form_object_block div.sub_bloc table td input[type=file],
div.form_object_block div.sub_bloc table td input[type=file]{
	width: auto;
	float: left;
}

div.form_object_block div.sub_bloc table td select[multiple=multiple]{
	width: 100%;
	overflow: auto;
}

form.form_object_block div.sub_bloc table td textarea,
div.form_object_block div.sub_bloc table td textarea{
	width: 60%;
	min-height: 80px;
}
form.form_object_block div.sub_bloc table td img.existing_img,
div.form_object_block div.sub_bloc table td img.existing_img{
	float:left;
	margin-left: 10px;
}
div.sub_form{
	margin-top: 5px;
	overflow:hidden;
	width: 100%;
}

table span.legend{
	font-size: 0.9em;
	font-style:italic;
}

div.sub_form > div{
	float: right;
	line-height: 20px;
	color: #424242;
}

div.sub_form > div.form_buttons > div{
	float:left;
	margin-right: 7px;
}

div.sub_form span.mandatory_fields{
	color: #E83137;
}

span.edited_object{
	color: #6fb01f;
}

div.form_object_block div.sub_bloc .chzn-container .chzn-results .highlighted {
	background: #DF1D31 !important;
	color: #fff;
}

/* ----------------------------------------  ERREURS */

ul.global_message,
div.global_message{
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	padding: 20px;
	font-size: 14px;
	margin-top: 10px;
}
ul.error_message,
div.error_message{
	border: 1px solid #E83137;
	background-color: #FFDADC;
	color: #666;
}

div.title{
	float:left;
	width: 65%;
}

div.mess_error{
	color: #E83137;
	font-style: italic;
}

/*----- */
h4{
	font-size: 14px;
}

tr.trl1 {
	background-color: #FFFFFF;
	border-bottom: 1px solid #B0B0B0;
}
tr.trl2 {
	background-color: #f3e8e9;
	border-bottom: 1px solid #B0B0B0;
}
tr.trl1:hover {
	background-color: #BCBCBC;
}
tr.trl2:hover {
	background-color: #BCBCBC;
}
td.tdl1 {
	background-color: #FFFFFF;
}
td.tdl2 {
	background-color: #f3e8e9;
	cursor: pointer;
}

div.actions {
	float: right;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
div.dims_popup > div > div.actions img {
	height: 16px;
	width: 16px;
}
div.dims_popup > div > div.actions + h2 {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #282D55;
	border-bottom-color: -moz-use-text-color;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: -moz-use-text-color;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: none;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: medium;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: -moz-use-text-color;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: none;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: medium;
	border-top-color: -moz-use-text-color;
	border-top-style: none;
	border-top-width: medium;
	color: white;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
}
div.dims_popup > div > h2 {
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
div.dims_popup > div > div {
	height: 100%;
	margin-bottom: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}


/* Grilles */

table.tableau a{
	text-decoration: none;
}

#libelle,
#searchreference,
#description{
	width: 99%;
}

.txtright{
	text-align:right;
}

.txtleft{
	text-align:left;
}

.pa1, .pas {
	padding: 10px;
}

.grid2 > * {
	width: 49%;
}

[class*="grid"] > * {
	float: left;
}

[class*="grid"] > * + * {
	margin-left: 2% !important;
}

.clearfix:after, .line:after, .mod:after, .line:after, .mod:after {
	clear: both;
	content: "";
	display: table;
}
.clearfix:after, .line:after, .mod:after, .line:after, .mod:after {
	clear: both;
	content: "";
	display: table;
}
.clearfix:after, .line:after, .mod:after {
	clear: both;
	content: "";
	display: table;
}
.clearfix:after, .line:after, .mod:after {
	clear: both;
	content: "";
	display: table;
}

.mod, .item {
	overflow: hidden;
}
