.scrollable-y {
    overflow-y: auto;
}

div.bloc_suivi {
	clear: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

div.bloc_suivi, div.bloc_contact, div.bloc_comment, div.bloc_mission, div.bloc_document {
	margin-left: 10px;
	margin-top: 5px;
}

div.bloc_zone_search_suivi {
    float: right;
    width: 70%;
    margin-top: 5px;
}

div.bloc_zone_search_suivi > #bloc_formsearch_suivi {
    height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
}

input#bloc_editbox_search_suivi{
    background: image-url("/common/modules/system/desktopV2/templates/gfx/common/search_bg.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    outline: medium none;
    padding: 8px 10px;
    width: 74% !important;
}

#bloc_formsearch_suivi > span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.title_bloc_suivi{
    float: left;
}

div.cadre_bloc_suivi{
    float: left;
    width: 98%;
    border: 1px solid #d6d6d6;
    border-radius: 4px 4px 4px 4px;
}


div.add_suivi{
    height: 20px;
    margin-left: 6px;
    padding-top: 5px;
    width: 98%;
}

div.add_suivi a {
    display: block;
    float: right;
	margin: 0 10px 5px 0;
}

div.add_suivi span{
    float: right;
    margin-left: 5px;
    line-height: 17px;
}

div.add_suivi_content{
    width: 97%;
    padding: 10px;
}

div.add_suivi_content > table {
	border-collapse: collapse;
}

div.add_suivi_content > table td {
	border: 1px solid #CCCCCC;
	padding: 4px;
}

div.add_suivi_content > table thead td {
    font-weight: bold;
}

div.add_suivi_content > table tbody tr:nth-child(odd) {
	background-color: #F8F8F8;
}

div.cadre_bloc_suivi_bas{
    width: 100%;
    height: 30px;
    background-color: #F1F1F1;
}

span.title_fiche_bloc_suivi{
    float: left;
    width: 100%;
    color: #df1d31;
}
span.title_fiche_bloc_suivi a {
    text-decoration: none;
    color: #DF1D31;
}

span.text_fiche_bloc_suivi{
    float: left;
    width: 100%;
    font-style:italic;
}

span.text_fiche_add_suivi{
    float: left;
    width: 89%;
    margin-left: 5px;
    font-style:italic;
}

#suivi_container {
    height: 540px;
}

div.zone_description {
	padding-bottom: 5px;
}

/*
	filtres
*/
div.filters {
	background-color: #F1F1F1;
	border: 1px solid #DEDEDE;
	overflow: hidden;
	padding: 15px;
	clear: right;
	margin-bottom: 10px;
}

div.filters select {
	margin-right: 10px;
}

div#page_content div.filters a {
	text-decoration: underline;
}

div.submit {
	float: right;
}

div.pagination {
	float: right;
}

div.pagination > * {
	margin: 0 2px;
}

div.pagination span.current {
	border: 1px solid #DF1D31;
	background-color: #FFDDE1;
	border-radius: 3px;
	padding: 2px 6px;
}

div.pagination span:hover {
	color: #DF1D31;
}

div.add_suivi_content > table thead tr td div {
	float: left;
}

div.add_suivi_content > table thead tr td a {
	display: block;
	float: right;
}

td.ordered {
	background-color: #F1F1F1;
}

div.suivi_precedant {
	float: left;
}

div.suivi_suivant {
	float: right;
}

div.suivi_precedant, div.suivi_suivant {
	padding: 0 10px 0 10px;
}
